app-product-specifications {
  .product-spec-types {
    border-right: 1px solid #e6e6e6;
    max-width: 161px;
    height: 100%;
  }

  .product-spec-details {
    height: 100%;
  }
  .product-spec-types .sub-types .mat-list-option-number {
    background-color: #afafaf;
    color: #fff;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    font-size: 10px !important;
    flex-shrink: 0;
    position: relative;
    margin-right: 10px !important;
  }

  .product-spec-types .sub-types .mat-list-single-selected-option .mat-list-option-number {
    background-color: #3699ff;
  }

  .product-spec-types .main-types .material-icons {
    color: #afafaf;
  }

  .product-spec-types .main-types .mat-list-single-selected-option .material-icons {
    color: #3699ff;
  }

  .product-spec-types .main-types .mat-list-option-number-visited .material-icons {
    color: #7db961 !important;
  }

  .product-spec-types .sub-types .mat-list-option-number-visited {
    background-color: #7db961 !important;
  }
  .product-spec-types .sub-types .mat-list-option-number.visited {
    background-color: #7db961 !important;
  }

  .product-spec-types .mat-list-option-number-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .product-spec-types .mat-list-text {
    display: flex !important;
    flex-direction: row !important;
  }
  .product-spec-types .text-color .mat-list-text {
    color: #7e7e7e;
    padding-left: 27px !important;
  }
  .product-spec-types .mat-list-base {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .product-spec-types .mat-pseudo-checkbox {
    display: none !important;
  }
  .product-spec-types .mat-list-item-content {
    padding-right: 0px !important;
    padding-left: 10px !important;
  }
  .product-spec-types .mat-list-text {
    padding-right: 0px !important;
    font-size: 12px;
    color: #343434;
    font-family: "Roboto-Medium";
  }

  .product-spec-types .mat-list-single-selected-option {
    border-radius: 2px;
    background: #eef6fb;
  }

  .product-spec-types .mat-list-single-selected-option .mat-list-text {
    color: #5face2;
    font-family: "Roboto-Bold";
  }

  .product-spec-details mat-form-field {
    width: inherit;
  }

  .product-spec-details.readonly-box {
    pointer-events: none !important;
  }

  .product-spec-types .mat-expansion-panel-body {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .product-spec-types .mat-expansion-panel-header.mat-expanded {
    height: 50px;
  }

  .product-spec-types .mat-selection-list.sub-types {
    background: #f9f9f9;
    border-radius: 0px;
  }

  .product-spec-types .mat-list-item {
    border-radius: 5px;
  }

  .product-spec-types .mat-expansion-indicator::after {
    vertical-align: super;
  }

  .product-spec-types .material-icons {
    font-size: 20px !important;
  }
}
