<div class="display-flex" style="height: 100%;">
    <div class="col-lg-2 product-spec-types pr-1 pl-1">
        <mat-selection-list [multiple]="false"
            (selectionChange)="handleProductSpecTypeChange($event)">
            <mat-list-option *ngFor="let types of productSpecTypesArray" class="font-14px" [selected]="types.isSelected"
                [value]="types.enum">
                <div class="mat-list-option-number" [ngClass]="{'mat-list-option-number-visited': types.isVisited}">
                    <div class="mat-list-option-number-content">
                        <span>{{types.id}}</span>
                    </div>
                </div>
                {{types.value}}
            </mat-list-option>
        </mat-selection-list>
        <mat-divider></mat-divider>
        <!-- <br>
        <a (click)="handleAddOtherComponent()" class="pl-3">
            <span class="material-icons add-icon pr-2 cursor-pointer font-18px ">
                add_circle_outline
            </span>
            <span class="font-12px blue-link ">OTHER COMPONENT</span>
        </a> -->
    </div>
    <div class="col-lg-10 product-spec-details pt-4 pr-2">
        <ng-container *ngIf="selectedProductSpecType === productSpecTypesConstant.GENERAL">
            <app-spec-general (productSpecTypeEvent)="addProductSpecType($event)"></app-spec-general>
        </ng-container>
        <ng-container *ngIf="selectedProductSpecType === productSpecTypesConstant.COVER">
            <app-spec-cover></app-spec-cover>
        </ng-container>
        <ng-container *ngIf="selectedProductSpecType === productSpecTypesConstant.TEXT">
            <app-spec-text></app-spec-text>
        </ng-container>
        <ng-container *ngIf="selectedProductSpecType === productSpecTypesConstant.BINDING">
            <app-spec-binding></app-spec-binding>
        </ng-container>
        <ng-container *ngIf="selectedProductSpecType === productSpecTypesConstant.CHILD_ISBN">
            <app-spec-child-isbn></app-spec-child-isbn>
        </ng-container>
        <ng-container *ngIf="selectedProductSpecType === productSpecTypesConstant.DVD_CD">
            <app-spec-dvd-cd></app-spec-dvd-cd>
        </ng-container>
        <ng-container *ngIf="selectedProductSpecType === productSpecTypesConstant.WEB_CODE">
            <app-spec-webcode></app-spec-webcode>
        </ng-container>
        <ng-container *ngIf="selectedProductSpecType === productSpecTypesConstant.LAYOUT_PREP">
            <app-spec-layout-prep></app-spec-layout-prep>
        </ng-container>
        <ng-container *ngIf="selectedProductSpecType === productSpecTypesConstant.UNIT_PRICE">
            <app-spec-unit-price></app-spec-unit-price>
        </ng-container>
        <ng-container *ngIf="selectedProductSpecType === productSpecTypesConstant.OTHER_COMPONENT">
            <app-spec-other></app-spec-other>
        </ng-container>
        <ng-container *ngIf="selectedProductSpecType === productSpecTypesConstant.CHECK_PRINT_FILE">
            <app-spec-check-print-file></app-spec-check-print-file>
        </ng-container>
        <ng-container>
            <div class="row">
                <div class="col-lg-12 pt-10 text-right">
                    <button mat-button (click)="handleBackEvent()"
                        *ngIf="selectedProductSpecType !== productSpecTypesConstant.GENERAL"
                        class="btn btn-primary stepper-back-button mr-2">Back</button>
                    <button mat-button (click)="handleNextEvent()"
                        *ngIf="selectedProductSpecType !== productSpecTypesConstant.UNIT_PRICE"
                        class="btn btn-primary stepper-next-button">Next</button>
                    <button mat-button (click)="handleNextEvent()"
                        *ngIf="selectedProductSpecType === productSpecTypesConstant.UNIT_PRICE"
                        class="btn btn-primary stepper-next-button">Create</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>