app-proof-approval {
    .spec-proof-approval .txt-label{
        font-size: 12px !important;
        color: #AFAFAF !important;
        padding-bottom: 10px;
    }

    .spec-proof-approval .txt-value{
        font-size: 14px !important;
    }
}