<!--begin::Notice-->
<div class="row pt-5">
    <div class="col-lg-12 display-flex">
        <div class="card card-custom example example-compact gutter-b quotation-header-card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <span class="symbol symbol-circle symbol-50 symbol-light-warning mr-2">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-warning svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo2/dist/../src/media/svg/icons/Code/Warning-1-circle.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                        <rect fill="#000000" x="11" y="7" width="2" height="8" rx="1" />
                                        <rect fill="#000000" x="11" y="16" width="2" height="2" rx="1" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon--></span>
                        </span>
                    </span>
                    <div class="d-flex flex-column">

                        <span class="text-muted font-weight-bold mt-2">Pending Estimation</span>
                        <span class="text-dark-75 font-weight-bolder font-size-h">82</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="symbol symbol-50 symbol-light-primary mr-2">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-primary svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo2/dist/../src/media/svg/icons/Home/Clock.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path
                                            d="M12,22 C7.02943725,22 3,17.9705627 3,13 C3,8.02943725 7.02943725,4 12,4 C16.9705627,4 21,8.02943725 21,13 C21,17.9705627 16.9705627,22 12,22 Z"
                                            fill="#000000" opacity="0.3" />
                                        <path
                                            d="M11.9630156,7.5 L12.0475062,7.5 C12.3043819,7.5 12.5194647,7.69464724 12.5450248,7.95024814 L13,12.5 L16.2480695,14.3560397 C16.403857,14.4450611 16.5,14.6107328 16.5,14.7901613 L16.5,15 C16.5,15.2109164 16.3290185,15.3818979 16.1181021,15.3818979 C16.0841582,15.3818979 16.0503659,15.3773725 16.0176181,15.3684413 L11.3986612,14.1087258 C11.1672824,14.0456225 11.0132986,13.8271186 11.0316926,13.5879956 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z"
                                            fill="#000000" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon--></span>
                        </span>
                    </span>
                    <div class="d-flex flex-column">
                        <span class="text-muted font-weight-bold mt-2">READY TO QUOTE</span>
                        <span class="text-dark-75 font-weight-bolder font-size-h">1.4h</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="symbol symbol-50 symbol-light-success mr-2">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-success svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo2/dist/../src/media/svg/icons/Code/Done-circle.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                        <path
                                            d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                            fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon--></span>
                        </span>
                    </span>
                    <div class="d-flex flex-column">
                        <span class="text-muted font-weight-bold mt-2">YTD% turned to order</span>
                        <span class="text-dark-75 font-weight-bolder font-size-h">34%</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="symbol symbol-50 symbol-light-danger mr-2">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-danger svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo2/dist/../src/media/svg/icons/Code/Stop.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path
                                            d="M12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 Z M12,20 C16.418278,20 20,16.418278 20,12 C20,7.581722 16.418278,4 12,4 C7.581722,4 4,7.581722 4,12 C4,16.418278 7.581722,20 12,20 Z M19.0710678,4.92893219 L19.0710678,4.92893219 C19.4615921,5.31945648 19.4615921,5.95262146 19.0710678,6.34314575 L6.34314575,19.0710678 C5.95262146,19.4615921 5.31945648,19.4615921 4.92893219,19.0710678 L4.92893219,19.0710678 C4.5384079,18.6805435 4.5384079,18.0473785 4.92893219,17.6568542 L17.6568542,4.92893219 C18.0473785,4.5384079 18.6805435,4.5384079 19.0710678,4.92893219 Z"
                                            fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon--></span></span></span>
                    <div class="d-flex flex-column">
                        <span class="text-muted font-weight-bold mt-2">YTD% unsuccessful</span>
                        <span class="text-dark-75 font-weight-bolder font-size-h">22%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Notice-->

<div class="row pt-5">
    <div class="col-lg-12 display-flex">
        <div class="card card-custom example example-compact gutter-b quotation-table-card">
            <div class="card-header pr-0">
                <div class="row full-width">
                    <div class="col-lg-12 pt-2 pb-2 pr-0">
                        <div class="float-left display-flex">
                            <h3 class="card-title font-weight-bolder text-dark">Cases({{totalRecordsCount}})</h3>

                            <mat-chip-list #chipList class="table-filter-chips">
                                <mat-chip [removable]="true" *ngIf="tableFilters.createdDate != ''"
                                    (removed)="removeFilter(tableFilterTypes.CREATED_DATE)">
                                    {{tableFilters.createdDate | date:'shortDate' }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true" *ngIf="tableFilters.status != ''"
                                    (removed)="removeFilter(tableFilterTypes.STATUS)">
                                    {{tableFilters.status }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true" *ngIf="tableFilters.salesperson != ''"
                                    (removed)="removeFilter(tableFilterTypes.SALESPERSON)">
                                    {{tableFilters.salesperson}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true" *ngIf="tableFilters.customer != ''"
                                    (removed)="removeFilter(tableFilterTypes.CUSTOMER)">
                                    {{tableFilters.customer}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="float-right display-flex">
                            <mat-form-field appearance="fill" class="font-12px pr-2">
                                <mat-label>Search</mat-label>
                                <mat-icon matPrefix>search</mat-icon>
                                <input matInput placeholder="Search" (keyup)="applySearch($event)" #tableSearchInput>
                            </mat-form-field>
                            <!-- <mat-search-bar></mat-search-bar> -->
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>filter_list</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" class="filter-menu">
                                <div class="filter-menu-content" (click)="$event.stopPropagation();">
                                    <span class="filter-menu-heading pb-4">
                                        Advance Filters
                                    </span>
                                    <mat-form-field appearance="fill" class="font-12px pb-4">
                                        <mat-label>Choose Date Range</mat-label>
                                        <input [matDatepicker]="picker" matInput [(ngModel)]="tableFilters.createdDate"
                                            (ngModelChange)="tableFilterChange($event,tableFilterTypes.CREATED_DATE)">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <span class="filter-menu-heading font-14px pb-4">
                                        Status
                                    </span>
                                    <div class="status-options display-flex pb-4">
                                        <span class="pending-status"
                                            [ngClass]="{'option-item-selected': selectedStatus == statusTypes.PENDINGEST, 'option-item mr-2': true}"
                                            (click)="tableFilterChange(statusTypes.PENDINGEST,tableFilterTypes.STATUS)">Pending
                                            Est.</span>
                                        <span class="est-status"
                                            [ngClass]="{'option-item-selected': selectedStatus == statusTypes.ESTCOMPL, 'option-item mr-2': true}"
                                            (click)="tableFilterChange(statusTypes.ESTCOMPL,tableFilterTypes.STATUS)">Est.
                                            Compl.</span>
                                        <span class="recommit-status"
                                            [ngClass]="{'option-item-selected': selectedStatus == statusTypes.ESTRECOMMIT, 'option-item mr-2': true}"
                                            (click)="tableFilterChange(statusTypes.ESTRECOMMIT,tableFilterTypes.STATUS)">Est.
                                            Recommit.</span>
                                        <span class="quote-status"
                                            [ngClass]="{'option-item-selected': selectedStatus == statusTypes.QUOTESENT, 'option-item mr-2': true}"
                                            (click)="tableFilterChange(statusTypes.QUOTESENT,tableFilterTypes.STATUS)">Quote
                                            Sent</span>
                                    </div>
                                    <mat-form-field appearance="fill" class="font-12px pb-4">
                                        <mat-label>Salesperson</mat-label>
                                        <mat-icon matPrefix>search</mat-icon>
                                        <input matInput [(ngModel)]="tableFilters.salesperson"
                                            (ngModelChange)="tableFilterChange($event,tableFilterTypes.SALESPERSON)">
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="font-12px">
                                        <mat-label>Customer</mat-label>
                                        <mat-icon matPrefix>search</mat-icon>
                                        <input matInput [(ngModel)]="tableFilters.customer"
                                            (ngModelChange)="tableFilterChange($event,tableFilterTypes.CUSTOMER)">
                                    </mat-form-field>
                                </div>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table mat-table [dataSource]="dataSource" class="quotation-spec-table">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dateCreated">
                        <th mat-header-cell *matHeaderCellDef> Date Created </th>
                        <td mat-cell *matCellDef="let element"> {{element.dateCreated | date:'shortDate'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="caseNo">
                        <th mat-header-cell *matHeaderCellDef> Case No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.caseNo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef> Customer </th>
                        <td mat-cell *matCellDef="let element"> {{element.customer }} </td>
                    </ng-container>

                    <ng-container matColumnDef="salesPerson">
                        <th mat-header-cell *matHeaderCellDef> Salesperson </th>
                        <td mat-cell *matCellDef="let element"> {{element.salesPerson}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estNo">
                        <th mat-header-cell *matHeaderCellDef> Est. No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.estNo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="quoteNo">
                        <th mat-header-cell *matHeaderCellDef> Quote No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.quoteNo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element.status == 'Pending Est.'">
                                <span class="status-button">
                                    <span
                                        class="label label-lg label-light-warning label-inline">{{element.status}}</span>
                                </span>
                            </div>
                            <div *ngIf="element.status == 'Est. Compl.'">
                                <span class="status-button">
                                    <span
                                        class="label label-lg label-light-success label-inline">{{element.status}}</span>
                                </span>
                            </div>
                            <div *ngIf="element.status == 'Est. Recommit.'">
                                <span class="status-button">
                                    <span class="label label-lg label-light-info label-inline">{{element.status}}</span>
                                </span>
                            </div>
                            <div *ngIf="element.status == 'Quote Sent'">
                                <span class="status-button">
                                    <span
                                        class="label label-lg label-light-primary label-inline">{{element.status}}</span>
                                </span>
                            </div>
                        </td>
                    </ng-container>


                    <!-- <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="btn btn-light" (click)="Choose()">Choose
                                <span class="svg-icon svg-icon-2x">
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path
                                                d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z"
                                                fill="#000000" fill-rule="nonzero"
                                                transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) " />
                                        </g>
                                    </svg></span></button> </td>
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center" colspan="8">No data matching the filter
                            "{{tableSearchInput.value}}"</td>
                    </tr>
                </table>

                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>

<app-modal id="ADD_NEW_QOUTATION_MODAL" size="modal-md">
    <!-- <app-create-product-spec-modal (acceptEvent)="handleAddProductSpecEvent('ADD_NEW_QOUTATION_MODAL')"
        (rejectEvent)="handleModalRejectEvent('ADD_NEW_QOUTATION_MODAL')"></app-create-product-spec-modal> -->
</app-modal>