<div class="row">
    <div class="col-lg-12 display-flex">
        <div class="col-lg-2 padding-l-0px">
            <div class="card card-custom example example-compact gutter-b case-details-types">
                <div class="card-body">
                    <mat-selection-list #caseDetailTypeList [multiple]="false"  (selectionChange)="handleCaseDetailTypeChange($event)">
                        <mat-list-option *ngFor="let types of caseDetailTypesArray" class="font-14px"
                        [selected]="types.isSelected" [value]="types.enum">
                            {{types.value}}
                            <span  *ngIf="createCaseMode === createCaseModes.EDIT"
                                (click)="redirectToSection($event, types.enum)"
                                class="material-icons cursor-pointer font-14px float-right">
                                edit
                            </span>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </div>
        <div class="col-lg-10 pr-0">
            <app-customer-info 
                [createCaseMode]="createCaseMode" 
                *ngIf="createCaseMode === createCaseModes.EDIT && currentSelectedType === caseDetailTypesConstant.CUSTOMER_INFO"></app-customer-info>
            <app-product-details 
                [createCaseMode]="createCaseMode" 
                *ngIf="currentSelectedType === caseDetailTypesConstant.PRODUCT_DETAILS"></app-product-details>
            <app-shipping-info 
                [createCaseMode]="createCaseMode" 
                *ngIf="currentSelectedType === caseDetailTypesConstant.SHIPPING_INFO"></app-shipping-info>
            <app-misc-cost 
                [createCaseMode]="createCaseMode" 
                *ngIf="currentSelectedType === caseDetailTypesConstant.MISC_COST"></app-misc-cost>
            <app-special-instructions 
                [createCaseMode]="createCaseMode" 
                *ngIf="currentSelectedType === caseDetailTypesConstant.SPECIAL_INSTRUCTIONS"></app-special-instructions>
            <app-invoice 
                [createCaseMode]="createCaseMode" 
                *ngIf="currentSelectedType === caseDetailTypesConstant.INVOICE"></app-invoice>
        </div>
    </div>
</div>

<div class="row" *ngIf="createCaseMode !== createCaseModes.EDIT || 
    (createCaseMode === createCaseModes.EDIT && currentSelectedType === caseDetailTypesConstant.PRODUCT_DETAILS)">
    <div class="col-lg-12">
        <div class="card card-custom example example-compact gutter-b overall-cost-card">
            <div class="card-header">
              <div class="card-title">
                <h3 class="card-label">Overall Cost</h3>
              </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <span class="font-roboto-regular font-14px">
                            Print & Bind
                        </span>
                        <span class="font-roboto-regular font-14px float-right">
                            0.00
                        </span>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <span class="font-roboto-regular font-14px">
                            Other Charges
                        </span>
                        <span class="font-roboto-regular font-14px float-right">
                            0.00
                        </span>
                        <mat-divider class="mt-4"></mat-divider>
                    </div>
                   
                    <div class="col-lg-12 mb-3">
                        <span class="font-roboto-regular font-14px">
                            Sub-total
                        </span>
                        <span class="font-roboto-regular font-14px float-right">
                            0.00
                        </span>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <span class="font-roboto-regular font-14px">
                            Discount (%)
                        </span>
                        <span class="font-roboto-regular font-14px float-right">
                            0.00
                        </span>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <span class="font-roboto-regular font-14px">
                            Tax (GST)
                        </span>
                        <span class="font-roboto-regular font-14px float-right">
                            0.00
                        </span>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <span class="font-roboto-bold font-14px">
                            Total
                        </span>
                        <span class="font-roboto-bold font-14px float-right">
                            0.00
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>