.case-details-types {
    height: calc(100% - 25px - 0px);
}

.case-details-types .mat-list-text {
    display: inline !important;
}

.case-details-types .mat-list-text .material-icons {
    color: #343434 !important;
}

.case-details-types .card-body{
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.overall-cost-card .card-body {
    padding: 15px !important;
}
.overall-cost-card .mat-form-field-wrapper {
    padding-bottom: 0px;
    font-size: 12px;
}

.overall-cost-card .mat-form-field-flex  {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.overall-cost-card .card-header {
    padding-left: 15px !important;
}
.overall-cost-card .mat-expansion-panel-header {
    padding-left: 0px !important;
    padding-right: 15px !important;
}
.overall-cost-card .mat-expansion-panel {
    box-shadow: none !important;
}

.overall-cost-card .mat-expansion-panel-body {
    padding-left: 0px !important;
}
.case-details-types .mat-list-base{
    padding-top: 5px;
    padding-bottom: 5px;
}

.case-details-types .mat-pseudo-checkbox {
    display: none !important;
}
.case-details-types .mat-list-item-content  {
    padding-right: 0px !important;
}
.case-details-types .mat-list-text {
    padding-right: 0px !important;
    font-size: 14px;
    color: #AFAFAF;
    font-family: 'Roboto-Regular';
}

.case-details-types .mat-list-single-selected-option {
    border-radius: 2px;
    background:#EEF6FB;
}

.case-details-types .mat-list-single-selected-option .mat-list-text {
    color: #5FACE2;
    font-family: 'Roboto-Bold';
}

.overall-cost-card .mat-expansion-panel-header {
    height: 45px;
}

.overall-cost-card .mat-expansion-panel-header.mat-expanded {
    height: 40px !important;
}