<div class="row">
    <div class="col-lg-12 display-flex">
        <div class="col-lg-2 padding-l-0px" [hidden]="isShippingDetails && createCaseMode !== createCaseModes.EDIT">
            <div class="card card-custom example example-compact gutter-b case-details-types">
                <div class="card-body">
                    <mat-selection-list #caseDetailTypeList [multiple]="false"
                        (selectionChange)="handleCaseDetailTypeChange($event)">
                        <mat-list-option *ngFor="let types of caseDetailTypesArray" class="font-14px"
                            [selected]="types.isSelected" [value]="types.enum">
                            {{types.value}}
                            <span *ngIf="createCaseMode === createCaseModes.EDIT"
                                (click)="redirectToSection($event, types.enum)"
                                class="material-icons cursor-pointer font-14px float-right">
                                edit
                            </span>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </div>
        <div
            [ngClass]="isShippingDetails && createCaseMode !== createCaseModes.EDIT ? 'col-lg-12 pr-0' : 'col-lg-10 pr-0'">
            <app-customer-info [createCaseMode]="createCaseMode"
                *ngIf="(createCaseMode === createCaseModes.EDIT && currentSelectedType === caseDetailTypesConstant.CUSTOMER_INFO)">
            </app-customer-info>
            <app-product-details [createCaseMode]="createCaseMode"
                *ngIf="(currentSelectedType === caseDetailTypesConstant.PRODUCT_DETAILS) && !isShippingDetails">
            </app-product-details>
            <app-shipping-info [createCaseMode]="createCaseMode" [isShippingDetails]="isShippingDetails"
                *ngIf="(currentSelectedType === caseDetailTypesConstant.SHIPPING_INFO)">
            </app-shipping-info>
            <app-misc-cost [createCaseMode]="createCaseMode"
                *ngIf="(currentSelectedType === caseDetailTypesConstant.MISC_COST) && !isShippingDetails">
            </app-misc-cost>
            <app-special-instructions [createCaseMode]="createCaseMode"
                *ngIf="(currentSelectedType === caseDetailTypesConstant.SPECIAL_INSTRUCTIONS) && !isShippingDetails">
            </app-special-instructions>
            <app-invoice [createCaseMode]="createCaseMode"
                *ngIf="(currentSelectedType === caseDetailTypesConstant.INVOICE) && !isShippingDetails">
            </app-invoice>
        </div>
    </div>
</div>

<div class="row"
    *ngIf="(createCaseMode !== createCaseModes.EDIT || 
    (createCaseMode === createCaseModes.EDIT && currentSelectedType === caseDetailTypesConstant.PRODUCT_DETAILS)) && !isShippingDetails">
    <div class="col-lg-12">
        <div class="card card-custom example example-compact gutter-b overall-cost-card">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Overall Cost</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <span class="font-roboto-regular font-14px">
                            Print & Bind
                        </span>
                        <span class="font-roboto-regular font-14px float-right">

                            $ {{getNumber(overAllCostVM.printAndBind)}}
                        </span>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <mat-expansion-panel (opened)="panelOpenState" class="mat-expansion-panel"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header class="mat-expansion-panel-header">
                                <mat-panel-title class="font-roboto-regular font-14px float-right">
                                    Other Charges
                                </mat-panel-title>
                                <mat-panel-description>
                                    <span class="font-roboto-regular font-14px float-right" style="margin-left: 88%">
                                        $ {{getNumber(overAllCostVM.otherChargesTotal)}}
                                    </span>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ng-container *ngFor="let item of overAllCostVM.otherCharges | groupby: 'title'">
                                <div class="mb-2 font-roboto-bold">
                                    {{item.key}}
                                </div>
                                <div class="mb-2 ml-2" *ngFor="let child of item.value">
                                    <span class="span-grey material-icons pr-2">
                                        stop_circle
                                    </span>
                                    <span class="font-roboto-regular font-14px">
                                        {{child.type}}
                                    </span>
                                    <span class="font-roboto-regular font-14px float-right">
                                        $&nbsp;{{child.total}}
                                    </span>
                                </div>
                            </ng-container>
                        </mat-expansion-panel>

                        <mat-divider class="mt-4"></mat-divider>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <span class="font-roboto-regular font-14px">
                            Sub-total
                        </span>
                        <span class="font-roboto-regular font-14px float-right">
                            $ {{getNumber(overAllCostVM.subTotal)}}
                        </span>
                    </div>
                    <div class="col-lg-12">
                        <span class="font-roboto-regular font-14px" style="vertical-align: sub;">
                            Discount (%)
                        </span>
                        <span class="font-roboto-regular font-14px float-right">
                            <mat-form-field appearance="fill" class="width-90">
                                <input type="number" #discountField min="0" matInput (change)="handleDiscountChange(discountField.value)"
                                    [value]="getNumber(discountPercentage)">
                                <span matPrefix>$&nbsp;</span>
                                <!-- <span matSuffix>.00</span> -->
                            </mat-form-field>
                        </span>
                    </div>
                    <div class="col-lg-12 mt-2 mb-2">
                        <mat-divider></mat-divider>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <span class="font-roboto-regular font-14px">
                            Tax (GST)
                        </span>
                        <span class="font-roboto-regular font-14px float-right">
                            $ {{overAllCostVM.tax}}
                        </span>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <span class="font-roboto-bold font-14px">
                            Total
                        </span>
                        <span class="font-roboto-bold font-14px float-right">
                            $ {{getNumber(totalAmout)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>