<div class="row spec-unit-price">
    <div class="col-lg-12 pb-3">
        <span class="font-16px font-roboto-bold">Check Print File - QD Report</span>
    </div>
    <div class="col-lg-12 pl-0">
        <div class="col-lg-12 pb-3">
            <mat-hint class="font-1px">Please select the method to calculate unit price for this item</mat-hint>
        </div>

        <div class="col-sm-12">

            <mat-radio-group class="pt-3  display-flex-direction-column" [(ngModel)]="viewModal.priceType" (change)="handleUnitPriceChange()">
                <mat-radio-button value="FIXED_PRICE">
                    Fixed Price
                </mat-radio-button>
                <mat-hint class="pl-8 font-12px">(this price will be used regardless of any spec changes)</mat-hint>
                <div class="col-lg-3 pl-8 pt-3 pb-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter Fixed Price</mat-label>
                        <input matInput [(ngModel)]="viewModal.fixedPrice" (change)="handleUnitPriceChange()">
                    </mat-form-field>
                </div>
                <mat-radio-button value="PRICE_SCALE">
                    Price Scale
                </mat-radio-button>
                <mat-hint class="pl-8 font-12px">(unit price is derived based on specifications and print rate in price
                    scale.Please work with IT to setup the price scale)</mat-hint>
                <div class="pb-5"></div>
                <mat-radio-button value="ESTIMATED_PRICE">
                    Estimated Costs
                </mat-radio-button>
                <mat-hint class="pl-8 font-12px">(unit price will be derived by margin multiply by estimated costs)
                </mat-hint>
                <div class="pb-5"></div>
            </mat-radio-group>
        </div>
    </div>

    <div class="col-sm-8" *ngIf="viewModal.priceType === 'ESTIMATED_PRICE'">
        <div id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                [stroke]="chartOptions.stroke" [colors]="chartOptions.colors" [dataLabels]="chartOptions.dataLabels"
                [legend]="chartOptions.legend" [markers]="chartOptions.markers" [yaxis]="chartOptions.yaxis"
                [title]="chartOptions.title"></apx-chart>
        </div>
    </div>
</div>