app-spec-unit-price {
    .spec-unit-price .labels {
        color: #484848;
        font-family: 'Roboto-Regular';
    }

    .spec-unit-price .mat-radio-label-content {
        font-size: 12px !important;
    }

    .spec-unit-price .mat-form-field-wrapper {
        padding-bottom: 10px !important;
    }

    .spec-unit-price .mat-radio-label-content {
        font-size: 14px !important;
    }
}