<!--begin::Notice-->
<div class="row pt-5 responsive">
    <div class="col-lg-12 display-flex">
        <div class="card card-custom example example-compact gutter-b orders-header-card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <span class="symbol symbol-square symbol-50 symbol-light-warning mr-2">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-warning svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo2/dist/../src/media/svg/icons/Code/Warning-1-circle.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                        <rect fill="#000000" x="11" y="7" width="2" height="8" rx="1" />
                                        <rect fill="#000000" x="11" y="16" width="2" height="2" rx="1" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                    </span>
                    <div class="d-flex flex-column">
                        <span class="text-muted font-weight-bold mt-2">OUTSTANDING</span>
                        <span class="text-dark-75 font-weight-bolder font-size-h">3216</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="symbol symbol-square symbol-50 symbol-light-primary mr-2">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-primary svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo2/dist/../src/media/svg/icons/Home/Clock.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path
                                            d="M12,22 C7.02943725,22 3,17.9705627 3,13 C3,8.02943725 7.02943725,4 12,4 C16.9705627,4 21,8.02943725 21,13 C21,17.9705627 16.9705627,22 12,22 Z"
                                            fill="#000000" opacity="0.3" />
                                        <path
                                            d="M11.9630156,7.5 L12.0475062,7.5 C12.3043819,7.5 12.5194647,7.69464724 12.5450248,7.95024814 L13,12.5 L16.2480695,14.3560397 C16.403857,14.4450611 16.5,14.6107328 16.5,14.7901613 L16.5,15 C16.5,15.2109164 16.3290185,15.3818979 16.1181021,15.3818979 C16.0841582,15.3818979 16.0503659,15.3773725 16.0176181,15.3684413 L11.3986612,14.1087258 C11.1672824,14.0456225 11.0132986,13.8271186 11.0316926,13.5879956 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z"
                                            fill="#000000" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                    </span>
                    <div class="d-flex flex-column">
                        <span class="text-muted font-weight-bold mt-2">DUE NEXT 3 DAYS</span>
                        <span class="text-dark-75 font-weight-bolder font-size-h">175</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="symbol symbol-square symbol-50 symbol-light-danger mr-2">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-danger svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo2/dist/../src/media/svg/icons/Code/Stop.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path
                                            d="M12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 Z M12,20 C16.418278,20 20,16.418278 20,12 C20,7.581722 16.418278,4 12,4 C7.581722,4 4,7.581722 4,12 C4,16.418278 7.581722,20 12,20 Z M19.0710678,4.92893219 L19.0710678,4.92893219 C19.4615921,5.31945648 19.4615921,5.95262146 19.0710678,6.34314575 L6.34314575,19.0710678 C5.95262146,19.4615921 5.31945648,19.4615921 4.92893219,19.0710678 L4.92893219,19.0710678 C4.5384079,18.6805435 4.5384079,18.0473785 4.92893219,17.6568542 L17.6568542,4.92893219 C18.0473785,4.5384079 18.6805435,4.5384079 19.0710678,4.92893219 Z"
                                            fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span></span></span>
                    <div class="d-flex flex-column">
                        <span class="text-muted font-weight-bold mt-2">OVERDUE</span>
                        <span class="text-dark-75 font-weight-bolder font-size-h">313</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="symbol symbol-square symbol-50 symbol-light-success mr-2">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-success svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo2/dist/../src/media/svg/icons/Code/Done-circle.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                        <path
                                            d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                            fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                    </span>
                    <div class="d-flex flex-column">
                        <span class="text-muted font-weight-bold mt-2">SHIPPED LAST 3 DAYS</span>
                        <span class="text-dark-75 font-weight-bolder font-size-h">2984</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Notice-->

<div class="row pt-5">
    <div class="col-lg-12 display-flex">
        <div class="card card-custom example example-compact gutter-b quotation-table-card">
            <div class="card-header pr-0">
                <div class="row full-width">
                    <div class="col-lg-12 pt-2 pb-2 pr-0">
                        <div class="float-left display-flex">
                            <!--View By-->
                            <span style="padding-top: 10px;font-size: 15px;color: #AFAFAF;">View
                                By:&nbsp;</span>
                            <mat-form-field appearance="fill" class="font-12px pr-2">
                                <mat-label>Status</mat-label>
                                <mat-select [(ngModel)]="viewByFilter"
                                    (ngModelChange)="viewByFilterChange($event,tableFilterTypes.STATUS)">
                                    <mat-option [value]="item.value" *ngFor="let item of statusTypesList">
                                        {{item.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!--mat-chips-->
                            <mat-chip-list #chipList class="table-filter-chips">
                                <mat-chip [removable]="true" *ngIf="tableFilters.customerPoNo != ''"
                                    (removed)="removeFilter(tableFilterTypes.CUSTOMER_PONO)">
                                    {{tableFilters.customerPoNo}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true" *ngIf="tableFilters.orderDate != ''"
                                    (removed)="removeFilter(tableFilterTypes.ORDER_DATE)">
                                    {{tableFilters.orderDate | date:'shortDate'}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true" *ngIf="tableFilters.requestedDeliveryDate != ''"
                                    (removed)="removeFilter(tableFilterTypes.RDD_DATE)">
                                    {{tableFilters.requestedDeliveryDate | date:'shortDate' }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true" *ngIf="tableFilters.status != ''"
                                    (removed)="removeFilter(tableFilterTypes.STATUS)">
                                    {{tableFilters.status }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true" *ngIf="tableFilters.companyName != ''"
                                    (removed)="removeFilter(tableFilterTypes.COMPANY_NAME)">
                                    {{tableFilters.companyName }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true" *ngIf="tableFilters.orderType != ''"
                                    (removed)="removeFilter(tableFilterTypes.ORDER_TYPE)">
                                    {{tableFilters.orderType }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="float-right display-flex">
                            <mat-form-field appearance="fill" class="font-12px pr-2">
                                <mat-label>Search</mat-label>
                                <mat-icon matPrefix>search</mat-icon>
                                <input matInput placeholder="Search" (keyup)="applySearch($event)" #tableSearchInput>
                            </mat-form-field>
                            <!-- <mat-search-bar></mat-search-bar> -->
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>filter_list</mat-icon>
                            </button>

                            <mat-menu #menu="matMenu" class="filter-menu">
                                <div class="filter-menu-content" (click)="$event.stopPropagation();">
                                    <div>
                                        <span class="filter-menu-heading pb-4">
                                            Advance Filters
                                        </span>
                                        <a class="clear-filter pb-4"
                                            style="padding-left: 161px;display: inline-block;font: normal normal normal 14px/17px Roboto;"
                                            (click)="removeFilter('clear')">
                                            Clear Filters
                                        </a>
                                    </div>
                                    <!--Cust PO No.-->
                                    <mat-form-field appearance="fill" class="font-12px pb-4">
                                        <mat-label>Cust PO No.</mat-label>
                                        <mat-icon matPrefix>search</mat-icon>
                                        <input matInput [(ngModel)]="tableFilters.customerPoNo"
                                            (ngModelChange)="tableFilterChange($event,tableFilterTypes.CUSTOMER_PONO)">
                                    </mat-form-field>
                                    <!--Choose Order Date Range-->
                                    <mat-form-field appearance="fill" class="font-12px pb-4">
                                        <mat-label>Choose Order Date Range</mat-label>
                                        <input [matDatepicker]="pickerorder" matInput
                                            [(ngModel)]="tableFilters.orderDate"
                                            (ngModelChange)="tableFilterChange($event,tableFilterTypes.ORDER_DATE)">
                                        <mat-datepicker-toggle matSuffix [for]="pickerorder">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #pickerorder></mat-datepicker>
                                    </mat-form-field>
                                    <!--Choose RDD Range-->
                                    <mat-form-field appearance="fill" class="font-12px pb-4">
                                        <mat-label>Choose RDD Range</mat-label>
                                        <input [matDatepicker]="pickerrdd" matInput
                                            [(ngModel)]="tableFilters.requestedDeliveryDate"
                                            (ngModelChange)="tableFilterChange($event,tableFilterTypes.RDD_DATE)">
                                        <mat-datepicker-toggle matSuffix [for]="pickerrdd"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerrdd></mat-datepicker>
                                    </mat-form-field>
                                    <!--Status-->
                                    <mat-form-field appearance="fill" class="font-12px pb-4">
                                        <mat-label>Status</mat-label>
                                        <mat-select [(ngModel)]="tableFilters.status"
                                            (ngModelChange)="tableFilterChange($event,tableFilterTypes.STATUS)">
                                            <mat-option [value]="item.value" *ngFor="let item of statusTypesList">
                                                {{item.text}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!--Customer name-->
                                    <mat-form-field appearance="fill" class="font-12px pb-4">
                                        <mat-label>Customer name</mat-label>
                                        <mat-icon matPrefix>search</mat-icon>
                                        <input matInput [(ngModel)]="tableFilters.companyName"
                                            (ngModelChange)="tableFilterChange($event,tableFilterTypes.COMPANY_NAME)">
                                    </mat-form-field>
                                    <!--Order Type-->
                                    <span class="filter-menu-heading font-14px pb-4">
                                        Order Type
                                    </span>
                                    <div class="printing-type-options display-flex pb-4">
                                        <span class="option-item mr-2"
                                            [ngClass]="{'option-item-selected': selectedStatus == orderTypes.PRINT, 'option-item mr-2': true}"
                                            (click)="tableFilterChange(orderTypes.PRINT,tableFilterTypes.ORDER_TYPE)">Print</span>
                                        <span class="option-item mr-2" style="width: 108px;"
                                            [ngClass]="{'option-item-selected': selectedStatus == orderTypes.WAREHOUSE, 'option-item mr-2': true}"
                                            (click)="tableFilterChange(orderTypes.WAREHOUSE,tableFilterTypes.ORDER_TYPE)">WareHouse</span>
                                    </div>
                                </div>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table mat-table [dataSource]="dataSource" class="quotation-spec-table">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="yourReference">
                        <th mat-header-cell *matHeaderCellDef>Customer PO No.</th>
                        <td mat-cell *matCellDef="let element">
                            <span style="font-weight: bold;">
                                <a href="javascript:;" style="color: #5FACE2;"
                                    (click)="getOrdersInfo(element.id)">{{element.yourReference }}
                                </a>
                            </span> <br>
                            <span class="cutomer-name">
                                <a href="javascript:;" style="color: black;" (click)="getOrdersInfo(element.id)">{{
                                    getCustomerName(element.id)}}</a>
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="orderDate">
                        <th mat-header-cell *matHeaderCellDef> Order Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.orderDate | date:'shortDate'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="requestedDeliveryDate">
                        <th mat-header-cell *matHeaderCellDef> RDD </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="element.requestedDeliveryDate===null">
                                -
                            </ng-container>
                            <ng-container *ngIf="element.requestedDeliveryDate!==null">
                                {{element.requestedDeliveryDate | date:'shortDate'}}
                            </ng-container>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="noOfTitles">
                        <th mat-header-cell *matHeaderCellDef> No. of Titles </th>
                        <td mat-cell *matCellDef="let element"> {{element.noOfTitles}}</td>
                    </ng-container>

                    <ng-container matColumnDef="qty">
                        <th mat-header-cell *matHeaderCellDef> Qty </th>
                        <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
                    </ng-container>

                    <ng-container matColumnDef="printType">
                        <th mat-header-cell *matHeaderCellDef> Type</th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element.printType == 'Digital'">
                                <img src="./assets/media/misc/ic_print.png">
                            </div>
                            <div *ngIf="element.printType == 'warehouse'">
                                <img src="./assets/media/misc/ic_warehouse.png">
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="currentActivityStatusCode">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <!--orange > Pending File Prep-->
                            <div class="status-options" *ngIf="element.currentActivityStatusCode == 301">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-orange label-inline">Pending File
                                        Prep</span>
                                </span>
                            </div>
                            <!--green > Order Confirmed-->
                            <div class="status-options" *ngIf="element.currentActivityStatusCode == 207">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-green label-inline">Order Confirmed</span>
                                </span>
                            </div>
                            <!--purple > RFQ-->
                            <div class="status-options" *ngIf="element.currentActivityStatusCode == 201">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-purple label-inline">RFQ</span>
                                </span>
                            </div>
                            <!-- light-blue > Case Created-->
                            <div class="status-options" *ngIf="element.currentActivityStatusCode == 101">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-blue label-inline">Case Created</span>
                                </span>
                            </div>
                            <!-- light-blue > Pending Est-->
                            <div class="status-options" *ngIf="element.currentActivityStatusCode == 202">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-blue label-inline">Pending Est</span>
                                </span>
                            </div>
                            <!-- light-blue > Est. Compl-->
                            <div class="status-options" *ngIf="element.currentActivityStatusCode == 203">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-blue label-inline">Est. Compl</span>
                                </span>
                            </div>
                            <!-- light-blue > Printing-->
                            <div class="status-options" *ngIf="element.currentActivityStatusCode == 503">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-blue label-inline">Printing</span>
                                </span>
                            </div>
                            <!-- light-blue > Folding Compl-->
                            <div class="status-options" *ngIf="element.currentActivityStatusCode == 602">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-blue label-inline">Folding Compl</span>
                                </span>
                            </div>
                            <!-- light-blue > Bind Compl-->
                            <div class="status-options" *ngIf="element.currentActivityStatusCode == 801">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-blue label-inline">Bind Compl</span>
                                </span>
                            </div>
                            <!-- light-blue > Shipped-->
                            <div class="status-options" *ngIf="element.currentActivityStatusCode == 806">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-blue label-inline">Shipped</span>
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field appearance="fill" class="font-12px pb-4 width-120">
                                <mat-label>Choose</mat-label>
                                <mat-select [(ngModel)]="chooseList" (selectionChange)="chooseSelectionChange($event)">
                                    <mat-option value="Complete">
                                        Complete
                                    </mat-option>
                                    <mat-option value="Processing">
                                        Processing
                                    </mat-option>
                                    <mat-option value="Hold">
                                        Hold
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center" colspan="8">No data matching the filter
                            "{{tableSearchInput.value}}"</td>
                    </tr>
                </table>

                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>