<div class="modal-header">
    <h4 class="modal-title">Add Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body add-product-spec-form position-relative pb-5">
    <div class="row">
        <div class="col-lg-12 mb-3">
            <mat-form-field appearance="fill">
                <mat-label>Product No./ISBN <span class="asteric">*</span></mat-label>
                <input matInput 
                    (ngModelChange)="trimInputValue(childIsbnNumber1, 1)"
                    #productIsbn
                    [(ngModel)]="childIsbnNumber1"
                    #trigger1="matAutocompleteTrigger" 
                    [formControl]="childIsbnNumberCtrl1"
                    [matAutocomplete]="auto"
                    (keyup)='handleIsbnSearch(1)'
                    maxlength="50"/>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn1" showPanel="true" (optionSelected)='handleSelectedIsbnOwner($event.option.value,1)'>
                        <mat-option *ngIf="isLoading" class="is-loading" value="0">Loading...</mat-option>
                        <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let item of isbnOwnerList1" [value]="item">
                            <span>{{item.ISBN}} - {{item.VersionNo}}</span>
                        </mat-option> 
                        </ng-container>
                    </mat-autocomplete>
                    <mat-hint align="end">{{productIsbn.value?.length || 0}}/50</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-lg-12 mb-5">
            <mat-form-field appearance="fill">
                <mat-label>Version Description <span class="asteric">*</span></mat-label>
                <input matInput [(ngModel)]="description">
                <mat-hint>Describe this specs version in a few words e.g. 4C, case</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-lg-12 mb-2">
            <mat-slide-toggle (change)="handleExistingTemplate()" labelPosition="before">Use Previous Product as Template</mat-slide-toggle>
        </div>
        <div class="col-lg-12" *ngIf="useExistingTemplate">
            <mat-form-field appearance="fill">
                <mat-label>Enter Existing Product No./ISBN <span class="asteric">*</span></mat-label>
                <input matInput 
                (ngModelChange)="trimInputValue(childIsbnNumber2, 2)"
                    #existingProductIsbn
                    [(ngModel)]="childIsbnNumber2"
                    #trigger2="matAutocompleteTrigger" 
                    [formControl]="childIsbnNumberCtrl2"
                    [matAutocomplete]="auto"
                    (keyup)='handleIsbnSearch(2)'
                    maxlength="50"/>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn2" showPanel="true" (optionSelected)='handleSelectedIsbnOwner($event.option.value,2)'>
                        <mat-option *ngIf="isLoading" class="is-loading" value="0">Loading...</mat-option>
                        <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let item of isbnOwnerList2" [value]="item">
                            <span>{{item.ISBN}} - {{item.VersionNo}}</span>
                        </mat-option> 
                        </ng-container>
                    </mat-autocomplete>
                    <mat-hint align="end">{{existingProductIsbn.value?.length || 0}}/50</mat-hint>
            </mat-form-field>
        </div>
    </div> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary ui-modal-cancel-button ui-modal-action-button" (click)="closeModal()">CANCEL</button>
    <button type="button" class="btn btn-primary ui-modal-action-button" (click)="createProductSpec()">START</button>
  </div>