.shopFloorCollectionScreen .card-body{
    padding: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.shopFloorCollectionScreen .card-header {
    border-bottom: transparent !important;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 45px !important;
} 

.shopFloorCollectionScreen .card-title {
    width: 100%;
}
.card-header .card-title h3.card-label {
    font-size: 20px !important;
    font-family: Roboto !important;
    font-weight: bold !important;
}

.mat-tab-label-active .mat-tab-label-content {
    color: #3699ff !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px;
}

.mat-select-value-text  {
    color: white;
    padding-left: 10px;
}

.mat-select-arrow {
    color: white;
    width: 12px;
    height: 7px;
}

.card.card-custom.machine-status-card .card-body .row.last-row {
    padding-bottom: 5px;
}

.card.card-custom.machine-status-card .card-body .row .col-12 .mat-form-field {
    width: 100%;
    height: 40px;
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    background: #5FACE2 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}

.card.card-custom.onthe-machine-card .card-body .row.row1 {
    padding: 10px;
}

mat-form-field.selectBoxJobStatus{
    width: 106px;
    height: 40px;
    background: #5FACE2 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
}

mat-form-field.selectBoxJobSchedule{
    width: 151px;
    height: 40px;
    background: #5FACE2 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    float: right;
    margin: auto;
    margin-right: 0px;
}

mat-form-field.txtSearchWithJobNo {
    width: 100%;
}

// mat-form-field.txtSearchWithJobNo .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline {
//     border: 1px solid #DBDBDB !important;
//     border-radius: 2px !important;
// }

// .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    
// }

// mat-form-field.txtSearchWithJobNo .mat-form-field-wrapper .mat-form-field-flex
// {
//     border: 1px solid #DBDBDB ;
//     border-radius: 2px !important;
// }
 
.table.job-schedule-table thead tr th {
    background-color: #F2F2F2;
    width: auto !important;
    
}

table.job-schedule-table{
     height:506px;
}

.job-schedule-table.table tbody tr {
    border-bottom: 1px solid #E6E6E6 !important;
}

.job-schedule-table.table tbody tr td{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 25px;
    vertical-align: sub !important;
}

.job-schedule-table.table tbody tr td.action-column{
    padding-right: 10px;
}

.job-schedule-table.table tbody tr .row-second-column{
    padding-top: 25px;
    vertical-align: unset !important;
}

.job-schedule-table.table tbody tr.table-last-row {
    border: none !important;
}
.btnJobScheduleSelect {
    min-width: 46px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    height: 25px;
    line-height: inherit !important;
}


.btnOperators {
    width: 84px;
    padding-left: 15px !important;
}

.outline-button {
    border: 1px solid #5FACE2 !important;
    border-radius: 2px !important;
    opacity: 1 !important;
    background: transparent !important;
    color: #5FACE2 !important;
    font-size: 12px !important;
}

.apexcharts-canvas  {
    width: 100% !important;
}

.apexcharts-text.apexcharts-xaxis-label {
    transform: none !important;
}

.apexcharts-canvas svg {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

.color-box{
    width: 10px;
    height:10px;
    padding: 5px;
}

.color-box-label {
    font-size: xx-small;
    font-weight: 600; 
    margin-left: 5px;
    width: auto;
    padding-right: 7px;
}

.mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important;
}


.scrollableDiv {
    overflow: auto;
    overflow-x: hidden;
 }
 .scrollableDiv::-webkit-scrollbar {
     width: 4px;
 }
 
 .scrollableDiv::-webkit-scrollbar-track {
     border-radius: 10px;
     background: transparent !important;
 }
 
 .scrollableDiv::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background: #B7B7B7;
 }

 .text-align-right {
     text-align: right;    
 }