app-shop-floor-collection {
  .shopFloorCollectionScreen {
    margin-top: -50px;
  }

  .shopFloorCollectionScreen .card-body {
    padding: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .shopFloorCollectionScreen .card-header {
    border-bottom: transparent !important;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 45px !important;
  }

  .shopFloorCollectionScreen .card-title {
    width: 100%;
  }
  .card-header .card-title h3.card-label {
    font-size: 20px !important;
    font-family: Roboto !important;
    font-weight: bold !important;
  }

  .mat-tab-label-active .mat-tab-label-content {
    color: #3699ff !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px;
  }

  .mat-select-value-text {
    color: white;
    padding-left: 10px;
  }

  .shopFloorCollectionScreen .mat-select-arrow {
    color: white;
    width: 12px;
    height: 7px;
  }

  .shopFloorCollectionScreen mat-form-field.mat-form-field-type-mat-select .mat-form-field-ripple {
    background: transparent !important;
  }

  .shopFloorCollectionScreen mat-form-field.mat-form-field-type-mat-select.mat-focused.mat-primary .mat-select-arrow {
    color: white;
  }

  .card.card-custom.machine-status-card .card-body .row.last-row {
    padding-bottom: 5px;
  }

  .card.card-custom.machine-status-card .card-body .row .col-12 .mat-form-field {
    width: 100%;
    height: 40px !important;
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    background: #5face2 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }

  mat-form-field.selectBoxJobStatus {
    width: 106px;
    height: 40px !important;
    background: #5face2 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
  }

  mat-form-field.selectBoxJobSchedule {
    width: 151px;
    height: 40px !important;
    background: #5face2 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    float: right;
    margin: auto;
    margin-right: 0px;
    margin-top: 3px;
  }

  mat-form-field.txtSearchWithJobNo {
    width: 100%;
  }

  mat-form-field.txtSearchWithJobNo .mat-form-field-wrapper {
    padding-bottom: 5px;
    margin-bottom: 0px;
  }

  mat-form-field.txtSearchWithJobNo.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #f2f2f2;
    border: 1px solid;
    border-radius: 5px;
  }

  mat-form-field.txtSearchWithJobNo.mat-form-field-appearance-outline .mat-form-field-outline:hover {
    border: none;
  }

  mat-form-field.txtSearchWithJobNo.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #3699ff;
    border: 0px solid;
  }

  mat-form-field.txtSearchWithJobNo .mat-form-field-infix {
    border-top-width: 8px !important;
    padding-top: 1em !important;
  }

  .table.job-schedule-table thead tr th {
    background-color: #f2f2f2;
    width: auto !important;
    position: sticky;
    top: 0px;
    z-index: 1000;
  }

  .table.job-schedule-table thead th:last-child {
    z-index: 100;
  }

  table.job-schedule-table {
    height: 506px;
  }

  .job-schedule-table.table tbody tr {
    border-bottom: 1px solid #e6e6e6 !important;
  }

  .job-schedule-table.table tbody tr td {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 25px;
    vertical-align: sub !important;
  }

  .job-schedule-table.table tbody tr td.action-column {
    padding-right: 10px;
  }

  .job-schedule-table.table tbody tr .row-second-column {
    padding-top: 25px;
    vertical-align: unset !important;
  }

  .job-schedule-table.table tbody tr.table-last-row {
    border: none !important;
  }
  .btnJobScheduleSelect {
    min-width: 46px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    height: 25px;
    line-height: inherit !important;
  }

  .outline-button {
    border: 1px solid #5face2 !important;
    border-radius: 2px !important;
    opacity: 1 !important;
    background: transparent !important;
    color: #5face2 !important;
    font-size: 12px !important;
  }

  .apexcharts-canvas {
    width: 100% !important;
  }

  .apexcharts-canvas svg {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .color-box {
    width: 10px;
    height: 10px;
    padding: 0px;
  }

  .color-box-label {
    font-size: xx-small;
    font-weight: 600;
    margin-left: 5px;
    width: auto;
    padding-right: 20px;
  }

  .mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important;
  }

  .equipment-timeline-card .card-rounded-bottom {
    height: 120px;
    margin-top: -23px;
  }

  .equipment-timeline-card .timeline-chart-label-row {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .oee-card .card-rounded-bottom {
    max-height: 130px;
    margin-top: -4px;
  }

  .oee-card .apexcharts-inner.apexcharts-graphical {
    transform: translate(6px, -6px);
  }

  .data-collection-box {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 25px;
    background: #f2f2f2 0% 0% no-repeat padding-box;
  }

  .data-collection-box .heading {
    font: normal normal bold 14px/17px Roboto;
    color: #484848;
  }

  .data-collection-box .heading-title-value {
    font: normal normal normal 16px Roboto;
    color: #484848;
    padding-bottom: 10px;
  }

  .data-collection-box .heading-title-label {
    font: normal normal normal 12px Roboto;
    color: #afafaf;
  }

  .onthe-machine-card .card-rounded-bottom.units-produced-chart,
  .onthe-machine-card .card-rounded-bottom.comulative-chart {
    height: 150px;
  }

  .onthe-machine-card .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
  }
  .search-block {
    display: none;
    position: absolute;
    top: 0;
    z-index: 11;
    width: 0%;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, width 0.5s ease-in-out;
    background: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    &.active {
      display: contents;
      opacity: 1;
      width: 60%;
    }
    .search-control {
      flex: 1;
      font-size: 16px;
      border: 0;
      outline: none;
      height: 40px;
      color: rgba(0, 0, 0, 0.87);
    }
    .search-icon {
      color: rgba(0, 0, 0, 0.25);
    }
  }
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    padding: 0px;
    display: contents;
  }
  // .mat-button-base {
  //   left: 80px;
  // }
}
