app-shop-floor-collection {
  .shopFloorCollectionScreen {
    margin-top: -50px;
  }

  .shopFloorCollectionScreen .card-body {
    padding: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .shopFloorCollectionScreen .card-header {
    border-bottom: transparent !important;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 45px !important;
  }

  .shopFloorCollectionScreen .card-title {
    width: 100%;
  }
  .card-header .card-title h3.card-label {
    font-size: 20px !important;
    font-family: Roboto !important;
    font-weight: bold !important;
  }

  .mat-tab-label-active .mat-tab-label-content {
    color: #3699ff !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px;
  }

  .mat-select-value-text {
    color: white;
    padding-left: 10px;
  }

  .shopFloorCollectionScreen .mat-select-arrow {
    color: white !important;
    width: 12px;
    height: 7px;
  }

  .btnJobScheduleSelect {
    min-width: 46px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    height: 25px;
    line-height: inherit !important;
  }

  .outline-button {
    border: 1px solid #5face2 !important;
    border-radius: 2px !important;
    opacity: 1 !important;
    background: transparent !important;
    color: #5face2 !important;
    font-size: 12px !important;
  }

  .mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important;
  }
  mat-form-field.selectBoxJobStatus:disabled {
    cursor: not-allowed !important;
    opacity: 0.8;
  }

  .selectBoxJobStatus .mat-select-disabled .mat-select-trigger {
    cursor: not-allowed !important;
    opacity: 0.8;
  }
}
