<div class="shopFloorCollectionScreen" *ngIf="counter>=8">
  <div class="row">
    <div class="col-lg-3 col-12">
      <div class="card card-custom example example-compact gutter-b machine-status-card">
        <div class="card-header padding-b-20px">
          <div class="card-title">
            <h3 class="card-label">Machine Status</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-12">
              <mat-form-field class="selectBoxMachineStatus">
                <mat-select [(value)]="selectedStatusActionId"
                  (selectionChange)="handleMachineStatusActionChange($event)">
                  <mat-option value="Choose">Choose</mat-option>
                  <mat-option *ngFor="let item of machineStatusActionVM?.machineStatusActionList" [value]="item.id">
                    {{ item.status }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <br>
          <div class="row last-row">
            <div class="col-lg-12 col-12 display-flex">
              <div class="col-lg-6 col-12 display-flex-direction-column padding-0px">
                <span class="app-label-grey">Time Lapsed</span>
                <span class="font-roboto-bold font-20px">
                  {{(machineSelectedStatusAction && machineSelectedStatusAction.durationF1) ? machineSelectedStatusAction.durationF1 : '00:00:00'}}
                </span>
              </div>
              <div class="col-lg-6 col-12 padding-0px text-right">
                <button mat-raised-button
                  (click)="openUiModal('VIEW_OPERATORS_MODAL', machineSelectedStatusAction.operators)" color="primary"
                  data-toggle="tooltip"
                  title="{{(machineSelectedStatusAction && machineSelectedStatusAction.operators.length > 0)? '': 'No operators exist' }}"
                  [disabled]="!(machineSelectedStatusAction?.operators?.length > 0)"
                  class="outline-button btnOperators">Operators</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-7 col-12">
      <div class="card card-custom example example-compact gutter-b equipment-timeline-card">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label">Equipment Status Timeline</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12" *ngIf="machineStatusTimelineVM && timeLineChartOptions">
              <div id="kt_stats_widget_11_chart" class="card-rounded-bottom">
                <apx-chart [series]="timeLineChartOptions.series" [chart]="timeLineChartOptions.chart"
                  [dataLabels]="timeLineChartOptions.dataLabels" [plotOptions]="timeLineChartOptions.plotOptions"
                  [title]="timeLineChartOptions.title" [xaxis]="timeLineChartOptions.xaxis"
                  [tooltip]="timeLineChartOptions.tooltip"></apx-chart>
              </div>
            </div>
          </div>
          <div class="row timeline-chart-label-row">
            <div class="col-sm-12">
              <div class="display-flex margin-l-30px" *ngIf="machineStatusTimelineVM">
                <ng-container *ngFor="let item of machineStatusTimelineVM.legendList">
                  <div class="col-xs-1 color-box" [ngStyle]="{'background-color': item.color}"></div>
                  <span class="color-box-label">{{item.machStatus}}</span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-12">
      <div class="card card-custom example example-compact gutter-b oee-card">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label">OEE</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-12" *ngIf="machineOee && oeeChartOptions">
              <!--The content below is only a placeholder and can be replaced.-->
              <div id="kt_stats_widget_11_chart" class="card-rounded-bottom">
                <apx-chart [series]="oeeChartOptions.series" [chart]="oeeChartOptions.chart"
                  [yaxis]="oeeChartOptions.yaxis" [stroke]="oeeChartOptions.stroke" [fill]="oeeChartOptions.fill"
                  [tooltip]="oeeChartOptions.tooltip" [colors]="oeeChartOptions.colors"
                  [markers]="oeeChartOptions.markers" [plotOptions]="oeeChartOptions.plotOptions"></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row2">
    <div class="col-lg-7 col-12">
      <div class="card card-custom example example-compact gutter-b onthe-machine-card">
        <div class="card-header">
          <div class="card-title">
            <div style="width: inherit;">
              <h3 class="card-label">On The Machine</h3>
            </div>
            <div class="text-right" style="width: inherit;" *ngIf="machineCurrentJobVM">
              <span>Status: </span>
              <span>{{machineCurrentJobVM.jobStatus}}</span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-12 display-flex" *ngIf="machineCurrentJobVM">
              <div class="col-lg-4 padding-left-right-0px display-flex-direction-column">
                <span class="app-label-grey">Current Job</span>
                <span class="font-20px padding-b-5px font-roboto-bold"
                  style="color: #5FACE2;">{{machineCurrentJobVM.jobNo}}</span>
                <span class="font-weight-bold font-12px color-484848">{{machineCurrentJobVM.jobTitle}}</span>
              </div>
              <div class="col-lg-5 display-flex">
                <div class="col-lg-4 padding-left-right-0px display-flex-direction-column">
                  <span class="app-label-grey">Quantity</span>
                  <span class="app-label-black font-20px">{{machineCurrentJobVM.jobQty}}</span>
                </div>
                <div class="col-lg-8 padding-left-right-0px display-flex-direction-column text-right">
                  <span class="app-label-grey padding-b-5px">Choose Job Status</span>
                  <span>
                    <mat-form-field class="selectBoxJobStatus">
                      <mat-select [(value)]="selectedJobAction" (selectionChange)="handleMachineActionChange($event)"
                        [ngStyle]="{'cursor: not-allowed': machineCurrentJobVM?.jobReadOnly}"
                        [disabled]="machineCurrentJobVM.jobReadOnly">
                        <mat-option value="Choose">Choose</mat-option>
                        <mat-option *ngFor="let item of machineCurrentJobVM.machineJobActionsList"
                          [value]="item.actionLink"> {{item.status}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </span>
                </div>
              </div>
              <div class="col-lg-3 padding-l-0px padding-r-0px">
                <div class="margin-t-22px text-right">
                  <button class="pr-2 job-status-action-buttons" title="Stop the job"
                    (click)="handleJobActionState(machineCurrentJobVM?.jobActionStop, 'stopped')"
                    [disabled]="machineCurrentJobVM?.jobReadOnly">
                    <img src="./assets/media/custom-icons/stop-icon.png" />
                  </button>
                  <button class="job-status-action-buttons" [title]="machineCurrentJobVM?.jobStatus !== 'Paused' ? 'Pause the job' : 'Set the job'"
                    (click)="handleJobActionState(machineCurrentJobVM?.jobActionPause, machineCurrentJobVM?.jobStatus)"
                    [disabled]="machineCurrentJobVM?.jobReadOnly">
                    <img [src]="machineCurrentJobVM?.jobStatus !== 'Paused' ? './assets/media/custom-icons/pause-icon.png' : './assets/media/custom-icons/play-icon.png'" />
                  </button>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-12">
              <mat-tab-group>
                <mat-tab label="Data Collection">
                  <div class="row" *ngIf="machineCurrentJobVM">
                    <div class="col-12 display-flex scroll-bar">
                      <div class="col-lg-4 data-collection-box"
                        *ngFor="let item of machineCurrentJobVM.machineSummaryList">
                        <div class="row">
                          <div class="col-lg-12">
                            <span class="heading">{{item.statusGrp}}</span>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-lg-6 display-grid padding-r-0px">
                            <span class="heading-title-value">{{item.durantionInMinutes}} mins</span>
                            <span class="heading-title-label">Time/时间/</span>
                          </div>
                          <div class="col-lg-6 display-grid padding-r-0px">
                            <span class="heading-title-value">{{item.count}}</span>
                            <span class="heading-title-label">Qty/数量/</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pt-8">
                    <div class="col-lg-8">
                      <div class="col-lg-12 display-flex padding-0px">
                        <span class="font-14px font-roboto-bold">Units Produced (Every Minute)</span>
                      </div>
                      <div class="col-lg-12 padding-0px" *ngIf="machineCurrentJobUnitsVM && unitsProducedChartOptions">
                        <div id="kt_stats_widget_11_chart" class="card-rounded-bottom units-produced-chart">
                          <apx-chart [series]="unitsProducedChartOptions.series" [chart]="unitsProducedChartOptions.chart"
                            [dataLabels]="unitsProducedChartOptions.dataLabels"
                            [plotOptions]="unitsProducedChartOptions.plotOptions" [yaxis]="unitsProducedChartOptions.yaxis"
                            [legend]="unitsProducedChartOptions.legend" [fill]="unitsProducedChartOptions.fill"
                            [stroke]="unitsProducedChartOptions.stroke" [tooltip]="unitsProducedChartOptions.tooltip"
                            [xaxis]="unitsProducedChartOptions.xaxis">
                          </apx-chart>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 padding-0px">
                      <div class="col-lg-12 display-flex padding-0px">
                        <span class="font-14px font-roboto-bold">Cumulative Output</span>
                        <span class="font-12px font-roboto-bold"
                          style="float:right; margin: auto">{{machineCommulativeOutputVM?.totalVal}}</span>
                      </div>
                      <div class="col-lg-12 padding-0px" *ngIf="machineCommulativeOutputVM && commulativeOutputChartOptions">
                        <div id="kt_stats_widget_11_chart" class="card-rounded-bottom comulative-chart">
                          <apx-chart [series]="commulativeOutputChartOptions.series"
                            [chart]="commulativeOutputChartOptions.chart" [xaxis]="commulativeOutputChartOptions.xaxis"
                            [yaxis]="commulativeOutputChartOptions.yaxis"
                            [dataLabels]="commulativeOutputChartOptions.dataLabels"
                            [stroke]="commulativeOutputChartOptions.stroke" [legend]="commulativeOutputChartOptions.legend"
                            [fill]="commulativeOutputChartOptions.fill" [states]="commulativeOutputChartOptions.states"
                            [tooltip]="commulativeOutputChartOptions.tooltip" [colors]="commulativeOutputChartOptions.colors"
                            [markers]="commulativeOutputChartOptions.markers"
                            [plotOptions]="commulativeOutputChartOptions.plotOptions">
                          </apx-chart>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Job Sheet">
                  <div class="row tab-job-sheet">
                    <div class="col-lg-6">
                      <div class="row pr-3 pb-2">
                        <div class="col-lg-12 header-box mb-3">
                          <mat-toolbar>
                            <span class="span-yellow material-icons pr-2 pl-2">
                              stop_circle
                            </span>
                            <span class="font-12px">General</span>
                          </mat-toolbar>
                        </div>
                        <div class="row pl-6">
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">RDD</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.reqDeliveryDate}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">FSC</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.fsc}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">PO no.</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.poNo}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Order Type</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.orderType}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Qty</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.quantity}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Print Quality</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.printQuality}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Job Type</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.jobType}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Created Date</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.createdDate}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0">
                              <span class="txt-label">Journal Title Code</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.journalCode}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Created By</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.createdBy}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Volume</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.volume}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Issue</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.issue}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row pr-3 pb-2">
                        <div class="col-lg-12 header-box mb-3">
                          <mat-toolbar>
                            <span class="span-yellow material-icons pr-2 pl-2">
                              stop_circle
                            </span>
                            <span class="font-12px">Others</span>
                          </mat-toolbar>
                        </div>
                        <div class="row pl-6">
                          <ng-container *ngFor="let item of jobSheetData?.others">
                            <div class="col-lg-12 pb-2 pt-2">
                              <span class="txt-value">{{item.forVal}}</span>
                            </div>
                            <div class="col-lg-11 d-flex pt-2 pb-2">
                              <div class="col-lg-3 d-flex pl-0 pr-0">
                                <span class="txt-label">For</span>
                              </div>
                              <div class="col-lg-3 d-flex pl-0 pr-0">
                                <span class="txt-value">{{item.forVal}}</span>
                              </div>
                            </div>
                            <div class="col-lg-6 d-flex pt-2 pb-2">
                              <div class="col-lg-6 d-flex pl-0 pr-0">
                                <span class="txt-label">Qty</span>
                              </div>
                              <div class="col-lg-6 d-flex pl-0 pr-0">
                                <span class="txt-value">{{item.quantity}}</span>
                              </div>
                            </div>
                            <div class="col-lg-6 d-flex pt-2 pb-2">
                              <div class="col-lg-6 d-flex pl-0 pr-0">
                                <span class="txt-label">RD</span>
                              </div>
                              <div class="col-lg-6 d-flex pl-0 pr-0">
                                <span class="txt-value">{{item.reqDate}}</span>
                              </div>
                            </div>
                            <div class="col-lg-11 d-flex pt-2 pb-2">
                              <div class="col-lg-3 d-flex pl-0 pr-0">
                                <span class="txt-label">Special Instructions</span>
                              </div>
                              <div class="col-lg-9 d-flex pl-0 pr-0">
                                <span class="txt-value">{{item.instruction}}</span>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="row pl-2 pb-2">
                        <div class="col-lg-12 header-box mb-3">
                          <mat-toolbar>
                            <span class="span-yellow material-icons pr-2 pl-2">
                              stop_circle
                            </span>
                            <span class="font-12px">Customer</span>
                          </mat-toolbar>
                        </div>
                        <div class="row pl-6" style="width: 100%;">
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Cust Name.</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.customer?.name}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Sell-to-no.</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.customer?.sellToNo}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Salesperson</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.customer?.salesPerson}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Acct Manager</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.customer?.acctManager}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">PE Name</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.customer?.peName}}</span>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      <div class="row pl-2 pb-2">
                        <div class="col-lg-12 header-box mb-3">
                          <mat-toolbar>
                            <span class="span-yellow material-icons pr-2 pl-2">
                              stop_circle
                            </span>
                            <span class="font-12px">Product Info</span>
                          </mat-toolbar>
                        </div>
                        <div class="row pl-6" style="width: 100%;">
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Product Group.</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.product?.productGrp}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">ISBN</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.product?.isbn}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Title</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.product?.title}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Parent ISBN</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.product?.isbnParent}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Ext. Part no</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.product?.extPartNo}}</span>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex pt-2 pb-2">
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-label">Set</span>
                            </div>
                            <div class="col-lg-6 d-flex pl-0 pr-0">
                              <span class="txt-value">{{jobSheetData?.product?.set}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row pl-2 pb-2">
                        <div class="col-lg-12 header-box mb-3">
                          <mat-toolbar>
                            <span class="span-yellow material-icons pr-2 pl-2">
                              stop_circle
                            </span>
                            <span class="font-12px">Special Instructions for the order</span>
                          </mat-toolbar>
                        </div>
                        <div class="row pl-6" style="width: 100%;">
                          <ng-container *ngFor="let item of jobSheetData?.instructions">
                            <div class="col-lg-11 d-flex pt-2 pb-2">
                              <div class="col-lg-3 d-flex pl-0 pr-0">
                                <span class="txt-label">{{item.dept}}</span>
                              </div>
                              <div class="col-lg-3 d-flex pl-0 pr-0">
                                <span class="txt-value">{{item.instruction}}</span>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Product Specs">
                  <div class="row tab-product-spec pl-3">
                    <div class="col-lg-12 mb-4">
                      <ng-container *ngFor="let item of productSpecData?.tabs">
                        <button mat-stroked-button 
                          [ngClass]="{'active-button': selectedProductSpec === item.title, 'mr-2 mt-2': selectedProductSpec !== item.title}" 
                          (click)="handleProductSpecTab(item.title)">{{item.title}}</button>
                      </ng-container>
                    </div>
                    <ng-container *ngFor="let tab of productSpecData?.tabs">
                      <ng-container *ngIf="selectedProductSpec === tab.title">
                        <div class="row tab-job-sheet">
                          <ng-container *ngFor="let table of tab.tables">
                            <div class="col-lg-6">
                              <div class="row pr-3 pb-2">
                                <div class="col-lg-12 header-box mb-3">
                                  <mat-toolbar>
                                    <span class="span-yellow material-icons pr-2 pl-2">
                                      stop_circle
                                    </span>
                                    <span class="font-12px">{{table.title}}</span>
                                  </mat-toolbar>
                                </div>
                                <div class="row pl-6">
                                  <ng-container *ngFor="let row of table.rows">
                                    <ng-container *ngIf="row.data.length === 4">
                                      <div class="col-lg-12 d-flex pb-2">
                                        <ng-container *ngFor="let data of row.data; let i=index">
                                          <div class="col-lg-3 d-flex pl-0 pr-0" *ngIf="i%2 == 0">
                                            <span class="txt-label">{{data.value}}</span>
                                          </div>
                                          <div class="col-lg-3 d-flex pl-0 pr-0" *ngIf="i%2 !== 0">
                                            <span class="txt-value">{{data.value}}</span>
                                          </div>
                                        </ng-container>
                                      </div>
                                    </ng-container>
                                    <ng-container *ngIf="row.data.length === 2">
                                      <div class="col-lg-12 d-flex pb-2">
                                        <ng-container *ngFor="let data of row.data; let i=index">
                                          <div class="col-lg-3 d-flex pl-0 pr-0" *ngIf="i%2 == 0">
                                            <span class="txt-label">{{data.value}}</span>
                                          </div>
                                          <div class="col-lg-9 d-flex pl-0 pr-0" *ngIf="i%2 !== 0">
                                            <span class="txt-value">{{data.value}}</span>
                                          </div>
                                        </ng-container>
                                      </div>
                                    </ng-container>
                                  </ng-container>
                                </div>
                              </div>
                            </div>
                        </ng-container>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </mat-tab>
                <mat-tab label="Customer" *ngIf="0 > 1">Content 2</mat-tab>
              </mat-tab-group>
            </div>
          </div>
          <br>
          <br>
          <br>
         
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-12">
      <div class="card card-custom example example-compact gutter-b jobs-schedule-card">
        <div class="card-header pr-0">
          <div class="card-title">
            <div class="col-lg-4 pr-0 pl-0" *ngIf="!toggleSearch">
              <div>
                <h3 class="card-label">Jobs Schedule</h3>
              </div>
            </div>

            <div class="col-lg-4 pr-0 pl-0" *ngIf="!toggleSearch">
              <button mat-icon-button  (click)="openSearch()" class="float-right pr-3">
                <mat-icon class="font-20px" style="color: #AFAFAF; font-size: 36px !important; line-height: 30px !important">search</mat-icon>
              </button>
            </div>
            <mat-toolbar class="search-block" [class.active]="toggleSearch">
              <mat-toolbar-row>
                <button class="search-icon" mat-icon-button>
                  <mat-icon style="font-size: 25px !important">search</mat-icon>
                </button>
                <input class="search-control txtSearchWithJobNo" type="text" placeholder="Search with Job No." 
                (keyup)="applySearch($event)">
                <!-- [(ngModel)]="searchText"  -->
                <button mat-button mat-icon-button (click)="searchClose()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-toolbar-row>
            </mat-toolbar>
            <div class="col-lg-4 pr-0 pl-0">
              <mat-form-field class="selectBoxJobSchedule">
                <mat-select [(value)]="selectedMachineCode" (selectionChange)="handleMachineChange($event)">
                  <mat-option *ngFor="let item of machineVMList" [value]="item.machineCode">
                    {{item.machineName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="tab-content" style="width: 100%;">
              <!--begin::Table-->
              <div class="table-responsive scrollableDiv" style="height:467px !important">
                <table class="table table-head-custom table-head-bg table-borderless table-vertical-center
                job-schedule-table">
                  <thead>
                    <tr class="text-left text-uppercase">
                      <th style="min-width: auto;">Scheduled <br>(预定时间)</th>
                      <th style="min-width: auto;">Job No. <br>(编号)</th>
                      <th style="min-width: 82px;">Est. Dur. <br>(预计时间)</th>
                      <th style="min-width: auto;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of machineScheduleJobsFilterList; let i=index">
                      <td>
                        <span class="text-dark-75 font-weight-bolder d-block font-14px padding-left-10px">
                          {{item.scheduledTime | date:'hh:mm'}}
                        </span>
                        <span class="font-weight-bold font-12px padding-left-10px color-484848">
                          {{item.scheduledDate | date:'M/d'}}
                        </span>
                      </td>
                      <td class="row-second-column">
                        <span class="text-dark-75 font-weight-bolder d-block font-14px">
                          {{item.jobNo}}
                        </span>
                        <span class="font-weight-bold  d-block font-12px color-484848">
                          {{item.jobTitle}}
                        </span>
                        <span class="font-weight-bold font-12px color-ffba31">
                          {{item.status}}
                        </span>
                      </td>
                      <td>
                        <span class="text-dark-75 font-weight-bolder d-block font-14px padding-left-15px">
                          {{item.estimatedDuration}}
                        </span>
                        <span class="font-weight-bold font-12px padding-left-15px color-484848">
                          mins
                        </span>
                      </td>
                      <td class="action-column">
                        <button mat-raised-button 
                          [disabled]="item.links.setJob == null || item.links.setJob == ''"
                          color="primary" 
                          (click)="setScheduleJob(item.links.setJob, i)"
                          class="outline-button btnJobScheduleSelect">
                          Select
                        </button>
                      </td>
                    </tr>
                    <!-- table-last-row -->
                  </tbody>
                </table>

              </div>
              <!--end::Table-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-modal id="VIEW_OPERATORS_MODAL" size="modal-sm">
  <app-view-operators-modal>
  </app-view-operators-modal>
</app-modal>

<app-modal id="PROMPT_MODAL" size="modal-sm">
  <app-prompt-modal (acceptEvent)="handlePromptStopJob($event)">
  </app-prompt-modal>
</app-modal>