<div class="card card-custom example example-compact gutter-b shipping-info-card">
    <div class="card-body position-relative">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-custom example example-compact gutter-b shipping-info-details-card">
                    <div class="card-header">
                        <div class="card-title">
                          <h3 class="card-label">Shipment 1</h3>
                        </div>
                        <div class="card-title">
                            <span class="font-12px color-AFAFAF pr-2">Category: </span>
                            <span class="font-12px card-label">Samples</span>
                        </div>
                        <div class="card-title">
                            <span class="font-12px color-AFAFAF pr-2">Attention To: </span>
                            <span class="font-12px card-label">Ariadne Pte Ltd</span>
                        </div>
                        <div class="card-title">
                            <span class="font-12px color-AFAFAF pr-2">Shipment Qty: </span>
                            <span class="font-12px card-label">0</span>
                        </div>

                        <div class="card-toolbar">
                            <span class="material-icons delete-icon pr-2 cursor-pointer">
                                delete
                            </span>
                            <span class="material-icons expansion-icon">
                                keyboard_arrow_down
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="card-body-header">Shipping Details</span>
                            </div>
                        </div>
                        
                        <div class="row pt-3">
                            <div class="col-lg-12 display-flex">
                                <div class="col-lg-3 pl-0">
                                    <select class="form-control selectBoxBillable">
                                        <option>Billable?</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 pr-0 pl-0">
                                    <mat-form-field appearance="outline">
                                        <input [matDatepicker]="picker" matInput placeholder="Shipment Promised Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 pr-0">
                                    <select class="form-control selectBoxShipmentMode">
                                        <option>Shipment Mode</option>
                                        <option>Air Freight</option>
                                        <option>Bulk Mail</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 pr-0">
                                    <select class="form-control selectBoxShippingTerms">
                                        <option>Shipping Terms</option>
                                        <option>CIF</option>
                                        <option>DDU</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-2">
                            <div class="col-lg-12 display-flex">
                                <div class="col-lg-3 pl-0">
                                    <select class="form-control selectShippingAgent">
                                        <option>Shipping Agent</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 pr-0 pl-0">
                                    <mat-form-field appearance="outline">
                                        <input matInput placeholder="Account No">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                         
                        <div class="row pt-10">
                            <div class="col-lg-12">
                                <span class="card-body-header">Items</span>
                            </div>
                        </div>

                        <div class="row pt-3">
                            <div class="col-lg-12">
                                <div class="tab-content">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                      <table class="table table-head-custom table-vertical-center
                                      shipping-info-details-table">
                                        <thead>
                                          <tr class="text-left">
                                             <th>#</th>
                                             <th>ISBN/Product No</th>
                                             <th>Title</th>
                                             <th>Available Qty</th>
                                             <th>This Shipment Qty</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                              <td>1</td>
                                              <td>9781760422791</td>
                                              <td>Passer Psychology 3e</td>
                                              <td>140</td>
                                              <td>
                                                <mat-form-field appearance="outline" class="mb-2">
                                                    <input matInput placeholder="120">
                                                </mat-form-field>
                                              </td>
                                          </tr>
                                        </tbody>
                                      </table>
                      
                                    </div>
                                    <!--end::Table-->
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row " style="margin: auto">
            <div class="col-lg-12 padding-0px">
                <div class="col-lg-4">
                    <select class="form-control selectBoxAddShipmentType width-190">
                        <option>Add Shipment Type</option>
                        <option>Samples</option>
                        <option>Advances</option>
                        <option>Main Stock</option>
                        <option>Others</option>
                    </select>
                </div>
            </div>
        </div> 
    </div>
</div> 