<div class="card card-custom example example-compact gutter-b invoice-card">
    <div class="card-body position-relative">
        <div class="row" style="margin: auto">
            <div class="col-lg-12 padding-0px">
                <div class="tab-content">
                    <!--begin::Table-->
                    <div class="">
                      <table class="table table-head-custom  table-vertical-center
                      invoice-table">
                        <thead>
                          <tr class="text-left text-uppercase">
                            <th *ngFor="let item of columnsToDisplay"> {{item}}</th>
                          </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let rowId of rowsToDisplay;let i = index;">
                                <tr class="outer-row">
                                    <td>
                                        {{rowsToDisplay[i].id}}
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-select
                                             [(ngModel)]="rowsToDisplay[i].position" 
                                             [disabled]="disabled"
                                             (change)="handleChangeToSyncWithStore()">
                                                <mat-option value="Top">Top</mat-option>
                                                <mat-option value="Bottom">Bottom</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td class="width-590">
                                        <mat-form-field appearance="fill">
                                            <input 
                                                [(ngModel)]="rowsToDisplay[i].notes"
                                                matInput [disabled]="disabled"
                                                (change)="handleChangeToSyncWithStore()"
                                                placeholder="Write Notes">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <span class="material-icons delete-icon pr-2 cursor-pointer" (click)="deleteRow(rowsToDisplay[i].id)" *ngIf="rowsToDisplay.length > 1">
                                            delete
                                        </span>
                                    </td>
                                </tr> 
                            </ng-container>
                        </tbody>
                      </table>
      
                    </div>
                    <!--end::Table-->
                  </div>
            </div>
        </div>
        <br><br>
        <div class="row sticky-bottom full-width pl-5 pb-4 product-detail-footer-row">
            <div class="col-lg-12" *ngIf="createCaseMode !== createCaseModes.EDIT">
                <a (click)="addRow()">
                    <span class="material-icons add-icon pr-2 cursor-pointer">
                        add_circle_outline
                    </span>
                    <span class="font-14px blue-link ">ADD ANOTHER</span>
                </a> 
            </div>
        </div>
    </div>
</div> 