app-spec-cover {
    .spec-cover .labels {
        color: #484848;
        font-family: 'Roboto-Regular';
    }

    .spec-cover .mat-radio-label-content {
        font-size: 12px !important;
    }

    .spec-cover .mat-form-field-wrapper {
        padding-bottom: 10px !important;
    }

    .spec-cover .mat-radio-label-content {
        font-size: 14px !important;
    }
}