<div class="row spec-cover">
    <div class="col-lg-12">
        <div class="col-sm-12 display-flex-direction-column">
            <span class="labels">Cover Type</span>
            <mat-radio-group class="pt-3">
             <mat-radio-button  value="SELF">Self</mat-radio-button>
             <mat-radio-button  value="4PPCOVER">4pp Cover</mat-radio-button>
             <mat-radio-button  value="6PPCOVER">6pp Cover</mat-radio-button>
             <mat-radio-button  value="8PPCOVER">8pp Cover</mat-radio-button>
           </mat-radio-group>
        </div>
    </div>
</div>