<div class="row spec-cover">
    <div class="col-lg-12 pb-3">
        <span class="font-16px font-roboto-bold">Cover</span>
    </div>
    <div class="col-lg-12">
        <div class="col-sm-12 display-flex-direction-column">
            <span class="labels pb-2" style="color: #AFAFAF !important">Cover Type</span>
            <mat-radio-group [(ngModel)]="viewModal.coverType" (change)="handleCoverTypeChange()" >
                <mat-radio-button *ngFor="let item of coverTypeList" [value]="item.text">
                    {{item.text}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <ng-container *ngIf="viewModal.coverType && viewModal.coverType !=='Self-cover'">
        <div class="col-lg-12 display-flex pl-0 pt-2">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Cover Material Weight</mat-label>
                    <mat-select [(ngModel)]="viewModal.coverMaterialWeight" (selectionChange)="handleMaterialWeightChange('MATERIALWEIGHT')">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="materialWeightFltrCtrl" placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredMaterialWeightList | async ">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Cover Material</mat-label>
                    <mat-select (selectionChange)="handleMaterialWeightChange('MATERIAL')"
                        [(ngModel)]="viewModal.coverMaterial" 
                        [disabled]="!viewModal.coverMaterialWeight">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="materialFltrCtrl" placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredMaterialList | async">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Material Brand</mat-label>
                    <mat-select [(ngModel)]="viewModal.materialBrand"
                        [disabled]="!viewModal.coverMaterialWeight || !viewModal.coverMaterial">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="materialBrandFltrCtrl" placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredMaterialBrandList | async">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 pt-3 pb-5">
            <mat-divider></mat-divider>
        </div>
        <!--outside-->
        <div class="col-lg-12 pb-1">
            <span class="labels">Outside Cover</span>
        </div>

        <div class="col-lg-12 d-flex pb-2">
            <div class="col-lg-4 pl-0">
                <mat-hint class="font-10px">No. of colours</mat-hint>
                <!-- ({{viewModal.pantoneColourOutside.length + viewModal.colorTypeOutside.length}}) -->
            </div>
            <div class="col-lg-6 pl-1">
                <mat-hint class="font-10px">Pantone Colours</mat-hint>
            </div>
        </div>

        <div class="col-lg-12 display-flex pl-0">
            <div class="col-lg-4 pr-0">
                <div class="color-type-options display-flex pb-4">
                    <span *ngFor="let item of colorTypeList"
                        [ngClass]="viewModal.colorTypeOutside.includes(item.text) ?  item.color + ' ' + item.textColor + ' option-item mr-2'  : 'option-item mr-2'"
                        (click)="handleColorChangeOutside(item.text)">{{item.text}}</span>
                </div>
            </div>
            <div class="col-lg-3">
                <mat-form-field appearance="fill">
                    <mat-label>Pantone Colour (Optional)</mat-label>
                    <input matInput pattern="(?:#|0x)(?:[a-f0-9]{3}|[a-f0-9]{6})\b|(?:rgb|hsl)a?\([^\)]*\)"
                        (keyup.enter)="addPantoneColourOutside($event)">
                    <span matSuffix class="suffix-style">+ ADD</span>
                </mat-form-field>
            </div>
            <div class="col-lg-5">
                <div class="scroll-bar">
                    <mat-chip-list #pantoneColourchipList class="table-filter-chips">
                        <mat-chip [removable]="true" [ngStyle]="{'background-color': item}"
                            *ngFor="let item of viewModal.pantoneColourOutside"
                            (removed)="removePantoneColourSelectionOutside(item)">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>

        <div class="col-lg-12 display-flex pl-0">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Finishing</mat-label>
                    <mat-select [(ngModel)]="viewModal.finishingTypeOutside" multiple>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="finishingTypeOutsideFltrCtrl"
                                placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredFinishingTypeOutside | async">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-9">
                <!-- class="scrollableDivX" style="width:650px !important; height: 54px;" -->
                <div class="scroll-bar">
                    <mat-chip-list #finishingChipList class="table-filter-chips">
                        <mat-chip [removable]="true" *ngFor="let item of viewModal.finishingTypeOutside"
                            (removed)="removeFinishTypeSelectionOutside(item)">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>

        <div class="col-lg-12 pb-2">
            <mat-hint class="font-10px">You can add more than 1 type of finishing.</mat-hint>
        </div>

        <div class="col-lg-12 pt-3 pb-5">
            <mat-divider></mat-divider>
        </div>

        <!--inside-->

        <div class="col-lg-12 pb-1">
            <span class="labels">Inside Cover</span>
        </div>

        <div class="col-lg-12 d-flex pb-2">
            <div class="col-lg-4 pl-0">
                <mat-hint class="font-10px">No. of colours</mat-hint>
                <!-- ({{viewModal.colorTypeInside.length + viewModal.pantoneColourInside.length}}) -->
            </div>
            <div class="col-lg-6 pl-1">
                <mat-hint class="font-10px">Pantone Colours</mat-hint>
            </div>
        </div>

        <div class="col-lg-12 display-flex pl-0 ">
            <div class="col-lg-4 pr-0">
                <div class="color-type-options display-flex pb-4">
                    <span *ngFor="let item of colorTypeList"
                        [ngClass]="viewModal.colorTypeInside.includes(item.text) ?  item.color + ' ' + item.textColor + ' option-item mr-2'  : 'option-item mr-2'"
                        (click)="handleColorChangeInside(item.text)">{{item.text}}</span>
                </div>
            </div>
            <div class="col-lg-3">
                <mat-form-field appearance="fill">
                    <mat-label>Pantone Colour (Optional)</mat-label>
                    <input matInput pattern="(?:#|0x)(?:[a-f0-9]{3}|[a-f0-9]{6})\b|(?:rgb|hsl)a?\([^\)]*\)"
                        (keyup.enter)="addPantoneColourInside($event)">
                    <span matSuffix class="suffix-style">+ ADD</span>
                </mat-form-field>
            </div>
            <div class="col-lg-5">
                <div class="scroll-bar">
                    <mat-chip-list #pantoneColourchipList class="table-filter-chips">
                        <mat-chip [removable]="true" [ngStyle]="{'background-color': item}"
                            *ngFor="let item of viewModal.pantoneColourInside"
                            (removed)="removePantoneColourSelectionInside(item)">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>

        <div class="col-lg-12 display-flex pl-0">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Finishing</mat-label>
                    <mat-select [(ngModel)]="viewModal.finishingTypeInside" multiple>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="finishingTypeInsideFltrCtrl"
                                placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredFinishingTypeInside | async">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-9">
                <!-- class="scrollableDivX" style="width:650px !important; height: 54px;" -->
                <div class="scroll-bar">
                    <mat-chip-list #finishingChipList class="table-filter-chips">
                        <mat-chip [removable]="true" *ngFor="let item of viewModal.finishingTypeInside"
                            (removed)="removeFinishTypeSelectionInside(item)">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>

        <div class="col-lg-12 pb-2">
            <mat-hint class="font-10px">You can add more than 1 type of finishing.</mat-hint>
        </div>
    </ng-container>

</div>