<!-- begin::Header Nav -->
<ul class="menu-nav" [ngClass]="ulCSSClasses">
  <!-- begin::1 Level -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <h3>
      <span class="menu-text" style="font-family: 'Roboto-Bold'; font-size: 24px;">{{dynamicHeaderMenuService.headerLabel$ | async}}</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </h3>
  </li>
  <!-- end::1 Level -->
</ul>
<!-- end::Header Nav -->
