<div class="row spec-other">
    <div class="col-lg-12 pb-3">
        <span class="font-16px font-roboto-bold">Other Component</span>
    </div>
    <div class="col-lg-12 pl-0">
        <table class="table table-head-custom  table-vertical-center spec-other-table">
            <thead>
                <tr class="text-left text-uppercase">
                    <th *ngFor="let item of columnsToDisplay"> {{item}}</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let rowId of viewModal;let i = index;">
                    <tr class="outer-row">
                        <td style="width: 10px;">
                            {{viewModal[i].id}}
                        <td style="width: 150px;">
                            <mat-form-field appearance="fill">
                                <mat-label>Choose</mat-label>
                                <mat-select [(ngModel)]="viewModal[i].type" (selectionChange)="handleTypeChange(i)">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="otherComponentChooseFltrCtrl" placeholderLabel="Search..">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option [value]="item" *ngFor="let item of filteredOtherComponentChooseList | async">{{item}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td style="width: 150px;">
                            --
                            <!-- <mat-form-field appearance="fill">
                              <mat-label>Weight</mat-label>
                              <input [(ngModel)]="viewModal[i].mainWeight" matInput placeholder="0">
                          </mat-form-field> -->
                        </td>
                        <td style="width: 150px;">
                            <!-- <mat-form-field appearance="fill">
                              <mat-label>Choose</mat-label>
                              <mat-select [(ngModel)]="viewModal[i].sleeveType">
                                  <mat-option value="1">DVD Case</mat-option>
                              </mat-select>
                          </mat-form-field> -->
                            --
                        </td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td class="action-column pb-0 text-right">
                            <span class="material-icons delete-icon pr-2 cursor-pointer"
                                (click)="deleteRecord(viewModal[i].id)" *ngIf="viewModal.length > 1">
                                delete
                            </span>
                            <span class="material-icons expansion-icon" (click)="showDvdDetails(viewModal[i].id)">
                                {{
                                viewModal[i].id == rowIdToExpand ?
                                ExpansionIcons.KEYBOARD_ARROW_UP :
                                ExpansionIcons.KEYBOARD_ARROW_DOWN
                                }}
                            </span>
                        </td>
                    </tr>
                    <ng-container *ngIf="shouldShowOtherDetails && viewModal[i].id == rowIdToExpand">
                        <tr class="expandedRow">
                            <td class="pr-0 pl-2" colspan="9">
                                <div class="col-lg-4 pl-1 pr-0 pt-2">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Add Component</mat-label>
                                        <mat-select [(ngModel)]="viewModal[i].componentType">
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="otherComponentChooseFltrCtrl" placeholderLabel="Search..">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option [value]="item" *ngFor="let item of filteredOtherComponentChooseList | async">{{item}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <ng-container *ngIf="viewModal[i].componentType">
                                    <div class="col-lg-12 display-flex pl-0 pt-3">
                                        <div class="col-lg-12 display-flex-direction-column">
                                            <span class="labels">Orientation</span>
                                            <mat-radio-group class="pt-3" [(ngModel)]="viewModal[i].orientationType">
                                                <mat-radio-button value="Portrait">Portrait</mat-radio-button>
                                                <mat-radio-button value="Landscape">Landscape</mat-radio-button>
                                                <mat-radio-button value="Square">Square</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 pt-6 pb-6">
                                        <mat-divider></mat-divider>
                                    </div>

                                    <div class="col-lg-12 display-flex pl-0">
                                        <div class="col-lg-3 pr-0">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Height(mm)</mat-label>
                                                <input matInput [(ngModel)]="viewModal[i].height" type="number" min="0">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-3 pr-0">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Width(mm)</mat-label>
                                                <input matInput [(ngModel)]="viewModal[i].width" type="number" min="0">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 display-flex pl-0 pb-5 pt-5">
                                        <div class="col-lg-3">
                                            <mat-slide-toggle [(ngModel)]="viewModal[i].isOpenSize"
                                                labelPosition="before">
                                                Open Size</mat-slide-toggle>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 display-flex pl-0" *ngIf="viewModal[i].isOpenSize">
                                        <div class="col-lg-3 pr-0">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Open Size Height(mm)</mat-label>
                                                <input matInput [(ngModel)]="viewModal[i].openSizeHeight" type="number" min="0">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-3 pr-0">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Open Size Width(mm)</mat-label>
                                                <input matInput [(ngModel)]="viewModal[i].openSizeWidth" type="number" min="0">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 display-flex pl-0 pt-3">
                                        <div class="col-lg-3 pr-0">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Weight(kg)</mat-label>
                                                <input matInput [(ngModel)]="viewModal[i].weight" type="number" min="0">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-3 pr-0">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Spine Width</mat-label>
                                                <input matInput [(ngModel)]="viewModal[i].spineWidth" type="number" min="0">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 pt-6 pb-6">
                                        <mat-divider></mat-divider>
                                    </div>

                                    <div class="col-lg-12 display-flex pl-0 pt-2">
                                        <div class="col-lg-3 pr-0">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Text Material Weight</mat-label>
                                                <mat-select [(ngModel)]="viewModal[i].textMaterialWeight" (selectionChange)="handleMaterialWeightChange('MATERIALWEIGHT', i)">
                                                    <mat-option>
                                                        <ngx-mat-select-search [formControl]="materialWeightFltrCtrl" placeholderLabel="Search..">
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option [value]="item" *ngFor="let item of filteredMaterialWeightList | async">{{item}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-3 pr-0">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Text Material</mat-label>
                                                <mat-select (selectionChange)="handleMaterialWeightChange('MATERIAL', i)" 
                                                    [(ngModel)]="viewModal[i].textMaterial" 
                                                    [disabled]="!viewModal[i].textMaterialWeight">
                                                    <mat-option>
                                                        <ngx-mat-select-search [formControl]="materialFltrCtrl" placeholderLabel="Search..">
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option [value]="item" *ngFor="let item of filteredMaterialList | async">{{item}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-3 pr-0">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Material Brand</mat-label>
                                                <mat-select [(ngModel)]="viewModal[i].materialBrand"
                                                    [disabled]="!viewModal[i].textMaterial || !viewModal[i].textMaterialWeight">
                                                    <mat-option>
                                                        <ngx-mat-select-search [formControl]="materialBrandFltrCtrl" placeholderLabel="Search..">
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option [value]="item" *ngFor="let item of filteredMaterialBrandList | async">{{item}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 display-flex pl-0 pt-3">
                                        <div class="col-lg-3 pr-0">
                                            <mat-form-field appearance="fill">
                                                <mat-label>No. of Colour Extent</mat-label>
                                                <input matInput [(ngModel)]="viewModal[i].noOfColourExtent" type="number" min="0" (change)="handleColorSum(i)">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-3 pr-0">
                                            <mat-form-field appearance="fill">
                                                <mat-label>No. of Mono Extent</mat-label>
                                                <input matInput [(ngModel)]="viewModal[i].noOfMonoExtent" type="number" min="0" (change)="handleColorSum(i)">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-3 pr-0">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Total Extent</mat-label>
                                                <input matInput [(ngModel)]="viewModal[i].totalExtent" type="number" min="0" readonly>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <!-- <div class="col-lg-12 pb-3 pt-2">
                                        <mat-hint class="font-10px">No. of colours ({{viewModal[i].pantoneColour.length + viewModal[i].colorType.length}})</mat-hint>
                                    </div> -->

                                    <div class="col-lg-12 d-flex pb-2 pt-4">
                                        <div class="col-lg-6 pl-0">
                                            <mat-hint class="font-10px">No. of colours</mat-hint>
                                        </div>
                                        <div class="col-lg-6 pl-1">
                                            <mat-hint class="font-10px">Pantone Colours</mat-hint>
                                        </div>
                                    </div>
                            
                                    <div class="col-lg-12 display-flex pl-0">
                                        <div class="col-lg-6 pr-0">
                                            <div class="color-type-options display-flex pb-4">
                                                <span *ngFor="let item of colorTypeList"
                                                    [ngClass]="viewModal[i].colorType.includes(item.text) ?  item.color + ' ' + item.textColor + ' option-item mr-2'  : 'option-item mr-2'"
                                                    (click)="handleColorChange(item.text, i)">{{item.text}}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Pantone Colour (Optional)</mat-label>
                                                <input matInput pattern="(?:#|0x)(?:[a-f0-9]{3}|[a-f0-9]{6})\b|(?:rgb|hsl)a?\([^\)]*\)"
                                                    (keyup.enter)="addPantoneColour($event, i)">
                                                <span matSuffix class="suffix-style">+ ADD</span>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="scroll-bar">
                                                <mat-chip-list #pantoneColourchipList class="table-filter-chips">
                                                    <mat-chip [removable]="true" [ngStyle]="{'background-color': item}"
                                                        *ngFor="let item of viewModal[i].pantoneColour"
                                                        (removed)="removePantoneColourSelection(item, i)">
                                                        {{item}}
                                                        <mat-icon matChipRemove>cancel</mat-icon>
                                                    </mat-chip>
                                                </mat-chip-list>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 pb-2">
                                        <mat-hint class="font-10px">Add multiple pantone colour codes</mat-hint>
                                    </div>

                                    <div class="col-lg-12 display-flex pl-0 pt-3">
                                        <div class="col-lg-3 pr-0 chip">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Finishing</mat-label>
                                                <mat-select multiple [(ngModel)]="viewModal[i].finishingType">
                                                    <mat-option [value]="item"
                                                        *ngFor="let item of finishingTypeList">{{item}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-9" style="width: 45px;">
                                            <!-- class="scrollableDivX" style="width:650px !important; height: 54px;" -->
                                            <div class="scroll-bar">
                                                <mat-chip-list #finishingChipList class="table-filter-chips">
                                                    <mat-chip [removable]="true"
                                                        *ngFor="let item of viewModal[i].finishingType"
                                                        (removed)="removeFinishTypeSelection(item, i)">
                                                        {{item}}
                                                        <mat-icon matChipRemove>cancel</mat-icon>
                                                    </mat-chip>
                                                </mat-chip-list>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <mat-hint class="font-10px">You can add more than 1 type of finishing.
                                        </mat-hint>
                                    </div>

                                    <div class="col-lg-12 pt-3">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Write special instructions</mat-label>
                                            <input matInput [(ngModel)]="viewModal[i].specialInstructions">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-12 pt-6 pb-6">
                                        <mat-divider></mat-divider>
                                    </div>

                                    <div class="col-lg-12 pt-3">
                                        <app-spec-binding [parentComponent]="productSpecTypes.OTHER_COMPONENT"
                                            [parentRecordIndex]="i" [parentData]="viewModal[i].bindingVM"
                                            (childComponentDataBindingType)="catchChildComponentDataBindingType($event)">
                                        </app-spec-binding>
                                    </div>

                                    <div class="col-lg-12 pt-6 pb-6">
                                        <mat-divider></mat-divider>
                                    </div>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12 pt-10">
        <div class="sticky-bottom full-width pl-5 pb-4 product-detail-footer-row">
            <a (click)="addRow()">
                <span class="material-icons add-icon pr-2 cursor-pointer">
                    add_circle_outline
                </span>
                <span class="font-14px blue-link ">ADD ANOTHER</span>
            </a>
        </div>
    </div>
</div>