<div class="modal-header">
    <h4 class="modal-title">Versions</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body add-samples-form position-relative font-12px" *ngIf="dataSource && dataSource.length > 0">
    <mat-table #table [dataSource]="dataSource" class="view-all-table" >
        <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
        <ng-container matColumnDef="isSpecsInView">
            <mat-header-cell *matHeaderCellDef> Specs in View </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-radio-button
                    (click)="setVersionNo(element.versionNo)" 
                    [checked]="element.versionNo === versionNo"></mat-radio-button>
            </mat-cell>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="versionNo">
            <mat-header-cell *matHeaderCellDef> Version no. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.versionNo}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="createdDate">
            <mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.createdDate | dateFormat}} </mat-cell>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="createdBy">
            <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.createdBy}} </mat-cell>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="versionDescription">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.versionDescription}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary ui-modal-cancel-button ui-modal-action-button"
        (click)="close()">CANCEL</button>
    <button type="button" class="btn btn-primary ui-modal-action-button" (click)="save()">SAVE</button>
</div>