<div class="modal-header">
  <h4 class="modal-title">{{label}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body add-production-activity-form position-relative font-12px">
  <div class="row pb-5" *ngIf="productionActivityVM">
    <div class="col-lg-12 display-flex pr-0" *ngIf="isOutsource">
      <div class="col-lg-12 pl-0">
      <mat-form-field appearance="fill">
        <mat-label>Vendor Code <span class="asteric">*</span></mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [(ngModel)]="vendorCode" [value] = "vendorCode"
        #trigger="matAutocompleteTrigger" 
        [formControl]="vendorCodeSearchCtrl"
        [matAutocomplete]="auto"
        (keyup)='handleCustomerSearch()'>
        <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayFn" showPanel="true" (optionSelected)='handleSelectedVendorCode($event.option.value)'>
            <mat-option *ngIf="isLoading" class="is-loading" value="0">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let item of vendorCodeList" [value]="item.CompanyCode" title="{{item.CompanyCode}}_{{item.CompanyName}}">
                <span class="font-12px"><b>{{item.CompanyCode}}</b>_{{item.CompanyName}}</span>
              </mat-option> 
            </ng-container>
          </mat-autocomplete>
    </mat-form-field>
  </div>
    </div>
    <div class="col-lg-12 display-flex pr-0">
      <div class="col-lg-6 pl-0">
        <mat-form-field appearance="fill">
          <mat-label>Component Id</mat-label>
          <mat-select *ngIf="!isOutsource" [(ngModel)]="productionActivityVM.ComponentBreakdownSNo" (selectionChange)="handleComponentTypeChange()">
              <mat-option [value]="item.Id" *ngFor="let item of componentBreakDownList"> {{item.SNo}}</mat-option>
          </mat-select>
          <input matInput *ngIf="isOutsource" [(ngModel)]="comId" readonly="true">
        </mat-form-field>
      </div>
      <div class="col-lg-6 pl-0">
          <mat-form-field appearance="fill">
              <mat-label>Type</mat-label>
              <input matInput [(ngModel)]="productionActivityVM.Type" readonly="true">
          </mat-form-field>
      </div>
    </div>
    <div class="col-lg-12 display-flex pr-0">
      <div class="col-lg-6 pl-0">
        <mat-form-field appearance="fill">
            <mat-label>Qty</mat-label>
            <input matInput type="number" min="0" [(ngModel)]="productionActivityVM.Qty" readonly="true">
        </mat-form-field>
      </div>
      <div class="col-lg-6 pl-0">
          <mat-form-field appearance="fill">
              <mat-label>Layout</mat-label>
              <input matInput [(ngModel)]="productionActivityVM.Layout" readonly="true">
          </mat-form-field>
      </div>
    </div>
    <div class="col-lg-12 display-flex pr-0">
      <div class="col-lg-6 pl-0">
        <mat-form-field appearance="fill">
          <mat-label>Activity</mat-label>
          <mat-select *ngIf="!isOutsource" [(ngModel)]="productionActivityVM.ProcessCode" (selectionChange)="handleActivityChange()">
              <mat-option [value]="item.processCode" *ngFor="let item of activitySettingList">{{item.description}}</mat-option>
          </mat-select>
          <input matInput *ngIf="isOutsource" [(ngModel)]="productionActivityVM.Activity" readonly="true">
        </mat-form-field>
      </div>
      <div class="col-lg-6 pl-0">
        <mat-form-field appearance="fill">
            <mat-label>Dept</mat-label>
            <input matInput [(ngModel)]="productionActivityVM.Dept" readonly="true">
        </mat-form-field>
      </div>
    </div>
    <div class="col-lg-12 display-flex pr-0">
      <div class="col-lg-6 pl-0">
        <mat-form-field appearance="fill">
            <mat-label>Process Code</mat-label>
            <input matInput [(ngModel)]="productionActivityVM.ProcessCode" readonly="true">
        </mat-form-field>
      </div>
    </div>
  </div>
  <br><Br>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary ui-modal-cancel-button ui-modal-action-button"
      (click)="close()">CANCEL</button>
  <button type="button" class="btn btn-primary ui-modal-action-button" (click)="addActivity()">ADD</button>
</div>