<div class="row spec-binding">
    <div class="col-lg-12">
        <span class="font-16px font-roboto-bold" *ngIf="!this.isOtherComponent">Create Specs</span>
        <mat-hint class="font-14px d-flex">Binding</mat-hint>
    </div>

    <div class="col-lg-12 pt-2 pb-2">
        <mat-divider></mat-divider>
    </div>
    <div class="col-lg-12 display-flex pl-0 pt-2">
        <div class="col-lg-3 pr-0">
            <mat-form-field appearance="fill">
                <mat-label>Binding Type</mat-label>
                <mat-select [(ngModel)]="viewModal.bindingType" (selectionChange)="handleBindingTypeChange()">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="bindingTypeFltrCtrl" placeholderLabel="Search..">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option [value]="item" *ngFor="let item of filteredBindingTypeList | async">{{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <ng-container *ngIf="viewModal.caseBound">
        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Binding Method</mat-label>
                    <mat-select [(ngModel)]="viewModal.caseBound.bindingMethod">
                        <mat-option [value]="item.text" *ngFor="let item of bindingMethodList">{{item.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Book Spine Type</mat-label>
                    <mat-select [(ngModel)]="viewModal.caseBound.bookSpineType">
                        <mat-option [value]="item.text" *ngFor="let item of bookSpineTypeList">{{item.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 display-flex pl-0 pt-3 pb-3">
            <div class="col-lg-3 pr-0">
                <mat-slide-toggle [(ngModel)]="viewModal.caseBound.isHeadTailBand" class="pt-4" labelPosition="before">
                    Head/Tail Band</mat-slide-toggle>
            </div>
            <div class="col-lg-3 pr-0" *ngIf="viewModal.caseBound.isHeadTailBand">
                <mat-form-field appearance="fill">
                    <mat-label>Head/Tail Band Colour</mat-label>
                    <mat-select [(ngModel)]="viewModal.caseBound.headTailBandColour">
                        <mat-option [value]="item.text" *ngFor="let item of headTailBandColorTypeList">{{item.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-3 pr-0">
                <mat-slide-toggle [(ngModel)]="viewModal.caseBound.isRibbon" class="pt-4" labelPosition="before">Ribbon
                </mat-slide-toggle>
            </div>
            <div class="col-lg-3 pr-0" *ngIf="viewModal.caseBound.isRibbon">
                <mat-form-field appearance="fill">
                    <mat-label>Ribbon Colour</mat-label>
                    <input matInput [(ngModel)]="viewModal.caseBound.ribbonColour">
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Greyboard Thickness</mat-label>
                    <mat-select [(ngModel)]="viewModal.caseBound.greyboardThickness">
                        <mat-option [value]="item.text" *ngFor="let item of greyboardThicknessList">{{item.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.caseBound.specialInstruction1">
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 pt-6 pb-6">
            <mat-divider></mat-divider>
        </div>
        <div class="col-lg-12 display-flex pl-0">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Benchwork Required</mat-label>
                    <mat-select multiple [(ngModel)]="viewModal.caseBound.benchworkRequired">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="caseBoundBenchWorkFltrCtrl" placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredCaseBoundBenchWork |async">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-9">
                <div class="scroll-bar">
                    <mat-chip-list #finishingChipList class="table-filter-chips">
                        <mat-chip [removable]="true" *ngFor="let item of viewModal.caseBound.benchworkRequired"
                            (removed)="removeBenchworkSelection(item, 'Case Bound')">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>

        <div class="col-lg-12 pb-2">
            <mat-hint class="font-10px">You can add more than 1 type of benchwork</mat-hint>
        </div>

        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.caseBound.specialInstruction2">
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 pt-6 pb-6">
            <mat-divider></mat-divider>
        </div>

        <div class="col-lg-12">
            <span class="labels font-20px">Endpaper</span>
        </div>

        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Endpaper Weight</mat-label>
                    <mat-select [(ngModel)]="viewModal.caseBound.endPaperWeight" (selectionChange)="handleMaterialWeightChange('MATERIALWEIGHT')">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="materialWeightFltrCtrl" placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredMaterialWeightList | async">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Endpaper Material</mat-label>
                    <mat-select (selectionChange)="handleMaterialWeightChange('MATERIAL')"  
                        [(ngModel)]="viewModal.caseBound.endPaperMaterial"
                        [disabled]="viewModal.caseBound.endPaperWeight === ''">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="materialFltrCtrl" placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredMaterialList | async">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Material Brand</mat-label>
                    <mat-select [(ngModel)]="viewModal.caseBound.materialBrand"
                        [disabled]="!viewModal.caseBound.endPaperWeight || !viewModal.caseBound.endPaperMaterial">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="materialBrandFltrCtrl" placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredMaterialBrandList | async">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>No. of Colour Extent</mat-label>
                    <input matInput [(ngModel)]="viewModal.caseBound.noOfColourExtent" type="number" min="0" (change)="handleColorSum()">
                </mat-form-field>
            </div>
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>No. of Mono Extent</mat-label>
                    <input matInput [(ngModel)]="viewModal.caseBound.noOfMonoExtent" type="number" min="0" (change)="handleColorSum()">
                </mat-form-field>
            </div>
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Total Extent</mat-label>
                    <input matInput [(ngModel)]="viewModal.caseBound.totalExtent" type="number" min="0" readonly>
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 d-flex pt-4">
            <div class="col-lg-6 pl-0">
                <mat-hint class="font-10px">No. of colours</mat-hint>
                <!-- ({{viewModal.caseBound.colorType.length + viewModal.caseBound.pantoneColour.length}}) -->
            </div>
            <div class="col-lg-6 pl-1">
                <mat-hint class="font-10px">Pantone Colours</mat-hint>
            </div>
        </div>

        <div class="col-lg-12 display-flex pl-0 pt-2">
            <div class="col-lg-6 pr-0">
                <div class="color-type-options display-flex pb-4">
                    <span *ngFor="let item of colorTypeList"
                        [ngClass]="viewModal.caseBound.colorType.includes(item.text) ?  item.color + ' ' + item.textColor + ' option-item mr-2'  : 'option-item mr-2'"
                        (click)="handleColorChange(item.text)">{{item.text}}</span>
                </div>
            </div>
            <div class="col-lg-3">
                <mat-form-field appearance="fill">
                    <mat-label>Pantone Colour (Optional)</mat-label>
                    <input matInput pattern="(?:#|0x)(?:[a-f0-9]{3}|[a-f0-9]{6})\b|(?:rgb|hsl)a?\([^\)]*\)"
                        (keyup.enter)="addPantoneColour($event)">
                    <span matSuffix class="suffix-style">+ ADD</span>
                </mat-form-field>
            </div>
            <div class="col-lg-5">
                <div class="scroll-bar">
                    <mat-chip-list #pantoneColourchipList class="table-filter-chips" *ngIf="viewModal.caseBound.pantoneColour?.length > 0">
                        <mat-chip [removable]="true" [ngStyle]="{'background-color': item}"
                            *ngFor="let item of viewModal.caseBound.pantoneColour"
                            (removed)="removePantoneColourSelection(item)">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>

        <div class="col-lg-12 pb-2">
            <mat-hint class="font-10px">Add multiple pantone colour codes</mat-hint>
        </div>
        <div class="col-lg-12 display-flex pl-0">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Finishing</mat-label>
                    <mat-select multiple [(ngModel)]="viewModal.caseBound.finishingType">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="finishingTypeFltrCtrl"
                                placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredFinishingTypeList | async">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-9">
                <!-- class="scrollableDivX" style="width:650px !important; height: 54px;" -->
                <div class="scroll-bar">
                    <mat-chip-list #finishingChipList class="table-filter-chips">
                        <mat-chip [removable]="true" *ngFor="let item of viewModal.caseBound.finishingType"
                            (removed)="removeFinishTypeSelection(item)">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <mat-hint class="font-10px">You can add more than 1 type of finishing.</mat-hint>
        </div>

        <div class="col-lg-12 pt-2">
            <mat-form-field appearance="fill">
                <mat-label>Write special instructions</mat-label>
                <input matInput [(ngModel)]="viewModal.caseBound.specialInstructions3">
            </mat-form-field>
        </div>
    </ng-container>

    <ng-container *ngIf="viewModal.folding">
        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.folding.specialInstructions1">
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 pt-6 pb-6">
            <mat-divider></mat-divider>
        </div>
        <div class="col-lg-12 display-flex pl-0">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Benchwork Required</mat-label>
                    <mat-select multiple [(ngModel)]="viewModal.folding.benchworkRequired">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="foldingBenchWorkFltrCtrl" placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredFoldingBenchWork |async">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-9">
                <div class="scroll-bar">
                    <mat-chip-list #finishingChipList class="table-filter-chips">
                        <mat-chip [removable]="true" *ngFor="let item of viewModal.folding.benchworkRequired"
                            (removed)="removeBenchworkSelection(item, 'Folding')">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <mat-hint class="font-10px">You can add more than 1 type of benchwork.</mat-hint>
        </div>

        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.folding.specialInstructions2">
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="viewModal.saddleStich">
        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Type of Stitch</mat-label>
                    <mat-select [(ngModel)]="viewModal.saddleStich.stichType">
                        <mat-option [value]="item.value" *ngFor="let item of stitchTypeList">{{item.text}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.saddleStich.specialInstructions1">
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 pt-6 pb-6">
            <mat-divider></mat-divider>
        </div>
        <div class="col-lg-12 display-flex pl-0">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Benchwork Required</mat-label>
                    <mat-select multiple [(ngModel)]="viewModal.saddleStich.benchworkRequired">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="saddleStichBenchWorkFltrCtrl"
                                placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredSaddleStichBenchWork |async">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-9">
                <div class="scroll-bar">
                    <mat-chip-list #finishingChipList class="table-filter-chips">
                        <mat-chip [removable]="true" *ngFor="let item of viewModal.saddleStich.benchworkRequired"
                            (removed)="removeBenchworkSelection(item, 'Saddle Stitch')">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <mat-hint class="font-10px">You can add more than 1 type of benchwork.</mat-hint>
        </div>

        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.saddleStich.specialInstructions2">
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="viewModal.wireoBinding">
        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Wire Colour</mat-label>
                    <mat-select [(ngModel)]="viewModal.wireoBinding.wireColour">
                        <mat-option [value]="item.value" *ngFor="let item of wireOColorList">{{item.text}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.wireoBinding.specialInstructions1">
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 pt-6 pb-6">
            <mat-divider></mat-divider>
        </div>
        <div class="col-lg-12 display-flex pl-0">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Benchwork Required</mat-label>
                    <mat-select multiple [(ngModel)]="viewModal.wireoBinding.benchworkRequired">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="wireoBindingBenchWorkFltrCtrl"
                                placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredWireoBindingBenchWork |async">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-9">
                <div class="scroll-bar">
                    <mat-chip-list #finishingChipList class="table-filter-chips">
                        <mat-chip [removable]="true" *ngFor="let item of viewModal.wireoBinding.benchworkRequired"
                            (removed)="removeBenchworkSelection(item, 'Wire-O Binding')">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <mat-hint class="font-10px">You can add more than 1 type of benchwork.</mat-hint>
        </div>

        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.wireoBinding.specialInstructions2">
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="viewModal.spiralBound">
        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Coil Colour</mat-label>
                    <mat-select [(ngModel)]="viewModal.spiralBound.coilColour">
                        <mat-option [value]="item.value" *ngFor="let item of coilColorList">{{item.text}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.spiralBound.specialInstructions1">
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 pt-6 pb-6">
            <mat-divider></mat-divider>
        </div>
        <div class="col-lg-12 display-flex pl-0">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Benchwork Required</mat-label>
                    <mat-select multiple [(ngModel)]="viewModal.spiralBound.benchworkRequired">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="spiralBoundBenchworkFltrCtrl"
                                placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredSpiralBoundBenchwork |async">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-9">
                <div class="scroll-bar">
                    <mat-chip-list #finishingChipList class="table-filter-chips">
                        <mat-chip [removable]="true" *ngFor="let item of viewModal.spiralBound.benchworkRequired"
                            (removed)="removeBenchworkSelection(item, 'Spiral Bound')">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <mat-hint class="font-10px">You can add more than 1 type of benchwork.</mat-hint>
        </div>

        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.spiralBound.specialInstructions2">
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="viewModal.paperBack">
        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Binding Method</mat-label>
                    <mat-select [(ngModel)]="viewModal.paperBack.bindingMethod">
                        <mat-option [value]="item.value" *ngFor="let item of bindingMethodList">{{item.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.paperBack.specialInstructions1">
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 pt-6 pb-6">
            <mat-divider></mat-divider>
        </div>
        <div class="col-lg-12 display-flex pl-0">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Benchwork Required</mat-label>
                    <mat-select multiple [(ngModel)]="viewModal.paperBack.benchworkRequired">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="paperBackBenchworkFltrCtrl"
                                placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredPaperBackBenchwork |async">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-9">
                <div class="scroll-bar">
                    <mat-chip-list #finishingChipList class="table-filter-chips">
                        <mat-chip [removable]="true" *ngFor="let item of viewModal.paperBack.benchworkRequired"
                            (removed)="removeBenchworkSelection(item, 'Paper Back')">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <mat-hint class="font-10px">You can add more than 1 type of benchwork.</mat-hint>
        </div>

        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.paperBack.specialInstructions2">
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="viewModal.others">
        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.others.specialInstructions1">
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-12 pt-6 pb-6">
            <mat-divider></mat-divider>
        </div>
        <div class="col-lg-12 display-flex pl-0">
            <div class="col-lg-3 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Benchwork Required</mat-label>
                    <mat-select multiple [(ngModel)]="viewModal.others.benchworkRequired">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="othersBenchWorkFltrCtrl" placeholderLabel="Search..">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option [value]="item" *ngFor="let item of filteredOthersBenchWork |async">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-9">
                <div class="scroll-bar">
                    <mat-chip-list #finishingChipList class="table-filter-chips">
                        <mat-chip [removable]="true" *ngFor="let item of viewModal.others.benchworkRequired"
                            (removed)="removeBenchworkSelection(item, 'Folding')">
                            {{item}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <mat-hint class="font-10px">You can add more than 1 type of benchwork.</mat-hint>
        </div>

        <div class="col-lg-12 display-flex pl-0 pt-3">
            <div class="col-lg-12 pr-0">
                <mat-form-field appearance="fill">
                    <mat-label>Special Instruction</mat-label>
                    <input matInput [(ngModel)]="viewModal.others.specialInstructions2">
                </mat-form-field>
            </div>
        </div>
    </ng-container>
</div>