<div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
  <!--begin::Login-->
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <!--begin::Aside-->
    <div class="login-aside d-flex flex-column flex-row-auto" style="justify-content: center;align-items: center;">
      <!--begin::Content body-->
      <div class="d-flex flex-column-fluid flex-center" style="width: 250px;">
        <router-outlet></router-outlet>
      </div>
      <!--end::Content body-->

      <!--begin::Content footer-->
      <div class="d-flex justify-content-lg-start justify-content-center align-items-end" style="padding-bottom: 55px;">
        <a href="#" style="color: #cdcdcd;">A Future-ready Print Production
          Automation
          Solution</a>
      </div>
      <!--end::Content footer-->
    </div>
    <!--begin::Content-->
    <div class="login-content flex-row-fluid d-flex flex-column justify-content-center">
      <mat-carousel proportion="100" timings="200ms ease-in" [hideArrows]="true" [hideIndicators]="false"
        [useKeyboard]="true" [useMouseWheel]="false" [autoplay]="true" interval="6000">
        <mat-carousel-slide *ngFor="let slide of slides; let i = index" [image]="slide.image" [hideOverlay]="true">
        </mat-carousel-slide>
      </mat-carousel>
    </div>
    <!--end::Content-->
  </div>
  <!--end::Login-->
</div>