<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom example example-compact gutter-b personal-info-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-1 label-pd">
                        <span class="user-label">User Id</span>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input value="SeanMicheal22" class="form-control form-control-solid" [disabled]="disabled">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 label-pd">
                        <span class="user-label">Password</span>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="password" value="********" placeholder="Password"
                                class="form-control form-control-solid" [disabled]="disabled">
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <button mat-button-raised class="btn btn-primary" (click)="updatePassword()">UPDATE</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 label-pd">
                        <span class="user-label">Full Name</span>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input value="Sean Micheal" placeholder="Full Name" class="form-control form-control-solid"
                                [disabled]="disabled">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 label-pd">
                        <span class="user-label">User Role</span>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input value="Super" placeholder="User Role" class="form-control form-control-solid"
                                [disabled]="disabled">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 label-pd">
                        <span class="user-label">Email</span>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input value="seanm@gmail.com" placeholder="Email" class="form-control form-control-solid"
                                [disabled]="disabled">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal id="ADD_UPDATE_PASSWORD_MODAL">
    <app-update-password-modal (acceptEvent)="handleAddReasonEvent('ADD_UPDATE_PASSWORD_MODAL')">
    </app-update-password-modal>
</app-modal>