<div class="row spec-layout-prep">
    <div class="col-lg-12">
        <span class="font-16px font-roboto-bold">Layout Prep</span>
        <mat-hint class="font-14px d-flex">Decide how the product is to be manufactured</mat-hint>
    </div>

    <div class="col-lg-12 pt-2 pb-4">
        <mat-divider></mat-divider>
    </div>

    <div class="col-lg-12">
        <span class="labels font-14px" style="color: #717171">Imposition Inputs</span>
    </div>

    <div class="col-lg-12 pt-6 pb-6">
        <mat-divider></mat-divider>
    </div>

    <div class="col-lg-12 padding-0px">
        <div class="tab-content">
            <!--begin::Table-->
            <div class="">
                <table
                    class="table table-head-custom table-head-bg table-borderless table-vertical-center component-table">
                    <thead>
                        <tr class="text-left text-uppercase">
                            <th *ngFor="let item of columnsToDisplayCompTable"> {{item}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="outer-row" *ngFor="let row of layoutPrepVM?.Components">
                            <ng-container>
                                {{getPaperList(row.ComponentType)}}
                            </ng-container>
                            <td>{{row.ComponentType}}</td>
                            <td>
                                <mat-form-field appearance="fill" class="width-100">
                                    <mat-select [(ngModel)]="row.ImpositionLayout" *ngIf="row.ComponentType === componentTypes.Text || row.ComponentType === componentTypes.None">
                                        <mat-option *ngFor="let item of textImpositionLayoutList" [value]="item.layoutName">
                                            {{item.layoutName}}</mat-option>
                                    </mat-select>
                                    <mat-select [(ngModel)]="row.ImpositionLayout" *ngIf="row.ComponentType === componentTypes.Cover">
                                        <mat-option *ngFor="let item of coverImpositionLayoutList" [value]="item.layoutName">
                                            {{item.layoutName}}</mat-option>
                                    </mat-select>
                                    <mat-select [(ngModel)]="row.ImpositionLayout" *ngIf="row.ComponentType === componentTypes.Insert">
                                        <mat-option *ngFor="let item of coverImpositionLayoutList" [value]="item.layoutName">
                                            {{item.layoutName}}</mat-option>
                                    </mat-select>
                                    <mat-select [(ngModel)]="row.ImpositionLayout" *ngIf="row.ComponentType === componentTypes.EndPaper">
                                        <mat-option *ngFor="let item of endPaperImpositionLayoutList" [value]="item.layoutName">
                                            {{item.layoutName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="width-100" *ngIf="!(row.ComponentType === componentTypes.Cover || row.ComponentType === componentTypes.Jacket)" >
                                    <mat-select [(ngModel)]="row.GrainDirectionInternal">
                                        <mat-option value="True">True</mat-option>
                                        <mat-option value="False">False</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="width-100">
                                    <input matInput [(ngModel)]="row.CuttingSizeDepth" type="number" min="0">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="width-100">
                                    <input matInput [(ngModel)]="row.CuttingSizeWidth" type="number" min="0">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" style="top: 6px !important">
                                    <mat-select [(ngModel)]="row.Paper">
                                        <ng-container *ngIf="row.ComponentType === componentTypes.Cover">
                                            <mat-option *ngFor="let item of paperListObjects.CoverPaperList"
                                            [value]="item.paperNo"> {{item.paperNo}} </mat-option>
                                        </ng-container>
                                        <ng-container *ngIf="row.ComponentType === componentTypes.Text">
                                            <mat-option *ngFor="let item of paperListObjects.TextPaperList"
                                            [value]="item.paperNo"> {{item.paperNo}} </mat-option>
                                        </ng-container>
                                        <ng-container *ngIf="row.ComponentType === componentTypes.Insert">
                                            <mat-option *ngFor="let item of paperListObjects.InsertPaperList"
                                            [value]="item.paperNo"> {{item.paperNo}} </mat-option>
                                        </ng-container>
                                        <ng-container *ngIf="row.ComponentType === componentTypes.EndPaper">
                                            <mat-option *ngFor="let item of paperListObjects.EndpaperPaperList"
                                            [value]="item.paperNo"> {{item.paperNo}} </mat-option>
                                        </ng-container>
                                        <ng-container *ngIf="row.ComponentType === componentTypes.None">
                                            <mat-option value=""> There is no data </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr class="outer-row" *ngIf="layoutPrepVM?.Components.length === 0">
                            <td colspan="6">No records found</td>
                        </tr>
                        <tr class="outer-row" *ngIf="!layoutPrepVM && shouldShowLoader">
                            <td colspan="6">
                                <mat-progress-spinner
                                    style="margin: auto" 
                                  color="primary" 
                                  mode="indeterminate">
                                </mat-progress-spinner>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end::Table-->
        </div>
    </div>

    <div class="col-lg-12 pt-3">
        <span class="labels font-14px">Components Breakdown</span>
    </div>

    <div class="col-lg-12 pt-6 pb-6">
        <mat-divider></mat-divider>
    </div>

    <div class="col-lg-12 padding-0px">
        <div class="tab-content">
            <!--begin::Table-->
            <div class="">
                <table
                    class="table table-head-custom table-head-bg table-borderless table-vertical-center component-table">
                    <thead>
                        <tr class="text-left text-uppercase">
                            <th *ngFor="let item of columnsToDisplayCompBreakTable"> {{item}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="outer-row" *ngFor="let row of layoutPrepVM?.ComponentsBreakdown; let i = index">
                            <td> {{row.ComponentsSNo}} </td>
                            <td> {{row.ComponentType}} </td>
                            <td> {{row.Layout}} </td>
                            <td> {{row.Quantity}} </td>
                            <td> {{row.PrintingSheets}} </td>
                            <td> {{row.Scrap}} </td>
                            <td> {{row.TotalSheets}} </td>
                            <td> {{row.Colour}} </td>
                            <td style="width: 10%;"> {{row.Paper}} </td>
                            <td> {{row.PaperSize}} </td>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-select [(ngModel)]="row.MachineType">
                                        <mat-option value="4 Color Press">4 Color Press</mat-option>
                                        <mat-option value="5 Color Press">5 Color Press</mat-option>
                                        <mat-option value="8 Color Press">8 Color Press</mat-option>
                                        <mat-option value="Mono Press">Mono Press</mat-option>
                                        <mat-option value="Digital (std)">Digital (std)</mat-option>
                                        <mat-option value="Digital (Enhance)">Digital (Enhance)</mat-option>
                                        <mat-option value="Digital (Premium)">Digital (Premium)</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr class="outer-row" *ngIf="layoutPrepVM?.ComponentsBreakdown.length === 0">
                            <td colspan="11">No records found</td>
                        </tr>
                        <tr class="outer-row" *ngIf="!layoutPrepVM && shouldShowLoader">
                            <td colspan="11">
                                <mat-progress-spinner
                                    style="margin: auto" 
                                  color="primary" 
                                  mode="indeterminate">
                                </mat-progress-spinner>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end::Table-->
        </div>
    </div>

    <div class="col-lg-12 pt-3">
        <span class="labels font-14px">Production Activities</span>
    </div>

    <div class="col-lg-12 pt-6 pb-6">
        <mat-divider></mat-divider>
    </div>

    <div class="col-lg-12 padding-0px">
        <div class="tab-content">
            <!--begin::Table-->
            <div class="">
                <table
                    class="table table-head-custom table-head-bg table-borderless table-vertical-center product-activitiy-table">
                    <thead>
                        <tr class="text-left text-uppercase">
                            <th *ngFor="let item of columnsToDisplayProdActivityTable"> {{item}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let row of layoutPrepVM?.ProductionActivity;let i = index;">
                            <tr class="outer-row">
                                <td> {{row.ComponentBreakdownSNo}}</td>
                                <td> {{row.Dept}} </td>
                                <td> {{row.Type}} </td>
                                <td> {{row.Qty}} </td>
                                <td> {{row.Layout}} </td>
                                <td> {{row.ProcessCode}} </td>
                                <td> {{row.Activity}} </td>
                                <td> {{row.Unit}} </td>
                                <td> {{row.Duration}} </td>
                                <td> ${{row.UnitCost}} </td>
                                <td> ${{row.NewUnitCost}} </td>
                                <td> ${{row.TotalEstCost}} </td>
                                <td> --- </td>
                                <td class="action-column pb-0">
                                    <span class="material-icons expansion-icon" (click)="showDetails(i)">
                                        {{
                                        i== rowIdToExpand ?
                                        ExpansionIcons.KEYBOARD_ARROW_UP :
                                        ExpansionIcons.KEYBOARD_ARROW_DOWN
                                        }}
                                    </span>
                                </td>
                            </tr>
                            <ng-container *ngIf="shouldShowDetails && i == rowIdToExpand" class="width-100">
                                <tr class="expandedRow padding-11" style="border-bottom: 1px solid #afafaf;">
                                    <th class="info-label">In Use</th>
                                    <th class="info-label">Operation Code</th>
                                    <th class="info-label">Operation Description</th>
                                    <th class="info-label"></th>
                                    <th class="info-label">UOM</th>
                                    <th class="info-label">Unit Selling Price</th>
                                    <th class="info-label">Sales Amount</th>
                                    <th class="info-label">Formula Code</th>
                                    <th class="info-label">Speed Table</th>
                                    <th class="info-label"> Price List Code</th>
                                    <th class="info-label"></th>
                                    <th class="info-label"></th>
                                    <th class="info-label"></th>
                                    <th class="info-label"></th>
                                </tr>
                                <tr class="expandedRow" style="border-bottom: 1px solid #afafaf;">
                                    <td class="info-label">
                                        <span class="material-icons" style="color:green">
                                            done
                                        </span>
                                    </td>
                                    <td class="info-label">110</td>
                                    <td class="info-label">-</td>
                                    <td class="info-label">1</td>
                                    <td class="info-label">MAKEREADYPRINT</td>
                                    <td class="info-label">16</td>
                                    <td class="info-label">125.00</td>
                                    <td class="info-label">4202</td>
                                    <td class="info-label">-</td>
                                    <td class="info-label">19212</td>
                                    <td class="info-label"></td>
                                    <td class="info-label"></td>
                                    <td class="info-label"></td>
                                    <td class="info-label"></td>
                                </tr>
                                <tr class="expandedRow" style="border-bottom: 1px solid #afafaf;">
                                    <td class="info-label"></td>
                                    <td class="info-label">110</td>
                                    <td class="info-label">-</td>
                                    <td class="info-label">1</td>
                                    <td class="info-label">MAKEREADYPRINT</td>
                                    <td class="info-label">16</td>
                                    <td class="info-label">125.00</td>
                                    <td class="info-label">4202</td>
                                    <td class="info-label">-</td>
                                    <td class="info-label">19212</td>
                                    <td class="info-label"></td>
                                    <td class="info-label"></td>
                                    <td class="info-label"></td>
                                    <td class="info-label"></td>
                                </tr>
                                <tr class="expandedRow" style="border-bottom: 1px solid #afafaf;">
                                    <td class="info-label"></td>
                                    <td class="info-label">110</td>
                                    <td class="info-label">-</td>
                                    <td class="info-label">360</td>
                                    <td class="info-label">MAKEREADYPRINT</td>
                                    <td class="info-label">16</td>
                                    <td class="info-label">125.00</td>
                                    <td class="info-label">4202</td>
                                    <td class="info-label">-</td>
                                    <td class="info-label">19212</td>
                                    <td class="info-label"></td>
                                    <td class="info-label"></td>
                                    <td class="info-label"></td>
                                    <td class="info-label"></td>
                                </tr>
                                <tr class="expandedRow" style="border-bottom: 1px solid #afafaf;">
                                    <td class="info-label">
                                        <span class="material-icons" style="color:green">
                                            done
                                        </span>
                                    </td>
                                    <td class="info-label">110</td>
                                    <td class="info-label">-</td>
                                    <td class="info-label">1</td>
                                    <td class="info-label">MAKEREADYPRINT</td>
                                    <td class="info-label">16</td>
                                    <td class="info-label">125.00</td>
                                    <td class="info-label">4202</td>
                                    <td class="info-label">-</td>
                                    <td class="info-label">19212</td>
                                    <td class="info-label"></td>
                                    <td class="info-label"></td>
                                    <td class="info-label"></td>
                                    <td class="info-label"></td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <tr class="outer-row" *ngIf="layoutPrepVM?.ProductionActivity.length === 0">
                            <td colspan="14">No records found</td>
                        </tr>
                        <tr class="outer-row" *ngIf="!layoutPrepVM && shouldShowLoader">
                            <td colspan="14">
                                <mat-progress-spinner
                                    style="margin: auto" 
                                  color="primary" 
                                  mode="indeterminate">
                                </mat-progress-spinner>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end::Table-->
        </div>
    </div>
    <a class="pl-3" (click)="openAddProductionActivityModal()" *ngIf="layoutPrepVM">
        <span class="material-icons add-icon pr-2 cursor-pointer font-18px ">
            add_circle_outline
        </span>
        <span class="font-12px blue-link ">Add Another</span>
    </a>
</div>


<app-modal id="ADD_PRODUCTION_ACTIVITIES_MODAL" size="modal-md">
    <app-add-production-activity-modal (acceptEvent)="handleAddProductionActivityModalEvent($event)">
    </app-add-production-activity-modal>
</app-modal>