.cdk-overlay-container {
    z-index: 1200 !important;
}


.add-blueprint-form .mat-form-field-wrapper {
    padding-bottom: 10px;
  }

  .add-blueprint-form .mat-form-field-subscript-wrapper{
      margin-top: 0px !important;
  }

  .add-blueprint-form .mat-form-field {
    font-size: 12px !important;
    height: 35px;
  }