/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// Global vendors
@import "~bootstrap/dist/css/bootstrap.css";
// => Material
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Global fonts
@import "~socicon/css/socicon.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./assets/plugins/flaticon/flaticon.css";
@import "./assets/plugins/flaticon2/flaticon.css";
@import "./assets/plugins/keenthemes-icons/font/ki.css";

// Metronic styles (replace these path when using RTL css below)
@import "./assets/sass/style.angular.scss";

// For RTL, check this documentation https://keenthemes.com/metronic/?page=docs&section=angular-rtl
// @import "./assets/sass/style.angular.rtl.css";

// Default Layout themes
@import "./assets/sass/themes/layout/header/base/light.scss";
@import "./assets/sass/themes/layout/header/menu/light.scss";
@import "./assets/sass/themes/layout/brand/dark.scss";
@import "./assets/sass/themes/layout/aside/dark.scss";


// Header themes
// .header-base-light {
//     @import "./assets/sass/themes/layout/header/base/light.scss";
// }

// .header-base-dark {
//     @import "./assets/sass/themes/layout/header/base/dark.scss";
// }

// Header Menu themes
// .header-menu-light {
//     @import "./assets/sass/themes/layout/header/menu/light.scss";
// }
// .header-menu-dark {
//     @import "./assets/sass/themes/layout/header/menu/dark.scss";
// }

// Brand themes
.brand-dark {
  @import "./assets/sass/themes/layout/brand/dark.scss";
}

.brand-light {
  @import "./assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// .aside-dark {
//   @import "./assets/sass/themes/layout/aside/dark.scss";
// }

// .aside-light {
//   @import "./assets/sass/themes/layout/aside/light.scss";
// }

// hide bootstrap dropdown arrow globally


@font-face {
  font-family: 'Roboto-Bold';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('./assets/fonts/Roboto-Black.ttf') format('truetype');
}

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Roboto-Regular',
);

html, body {
  font-family: 'Roboto-Regular';
}

.dropdown-toggle::after {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

app-toolbar .sticky-toolbar  {
  display: none !important;
}

.font-roboto-bold {
  font-family: 'Roboto-Bold';
  color: #484848;
}

.font-roboto-regular {
  font-family: 'Roboto-Regular';
  color: #484848;
}

.font-roboto-medium {
  font-family: 'Roboto-Medium';
  color: #484848;
}

.display-flex-direction-column {
  display: flex;
  flex-direction: column;
}

.font-10px {
  font-size: 10px !important;
}

.font-12px {
  font-size: 12px !important;
}

.font-14px{
  font-size: 14px !important;
}
.font-20px {
  font-size: 20px !important;
}

.app-label-grey {
  color: #AFAFAF;
  font-size: 12px;
  font-family: 'Roboto-Medium';
  padding-bottom: 5px;
}

.font-b-500 {
  font-weight: 500;
}

.app-label-black {
  color: #343434;
  font-size: 12px;
  font-family: Roboto;
}

.padding-left-right-0px {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-0px {
  padding: 0px !important;
}

.padding-left-10px {
  padding-left: 10px;
}

.padding-left-15px{
  padding-left: 15px;
}

.padding-b-0px {
  padding-bottom: 0px !important;
}

.padding-b-5px {
  padding-bottom: 5px !important;
}

.padding-b-15px {
  padding-bottom: 15px !important;
}

.padding-b-20px {
  padding-bottom: 20px !important;
}

.padding-l-0px {
  padding-left: 0px !important;
}

.padding-r-0px {
  padding-right: 0px !important;
}

.padding-r-10px {
  padding-right: 10px !important;
}

.margin-l-20px{
  margin-left: 20px !important; 
}

.margin-l-30px {
  margin-left: 30px !important; 
}

.margin-t-22px {
  margin-top: 22px !important; 
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}
.color-484848 {
  color: #484848;
}

.btn-primary {
  background: #5FACE2 ;
  font-size: 14px !important;
  font-family: 'Roboto-Medium' !important;
  opacity: 0.8 !important;
}

.stepper-back-button {
  background: transparent !important;
  color: #484848 !important;
}

.stepper-next-button {
  color: #FFFFFF !important;
}

.stepper-next-button,
.stepper-back-button {
  width: 100px;
  font-size: 14px !important;
  font-family: 'Roboto-Medium';
}

.blue-link {
  color: #5FACE2;
  cursor: pointer;
  font-family: 'Roboto-Medium';
}

.ui-modal-action-button {
  text-transform: uppercase !important;
  font-size:  14px !important;
  font-family: 'Roboto-Medium' !important;
  width: 100px;
  letter-spacing: 1px;
  height: 36px !important;
}

.ui-modal-cancel-button {
  background: transparent !important; 
  border: none !important;
}
.modal .modal-header .modal-title {
  font: normal normal bold 20px/24px 'Roboto-Bold' !important;
}

.modal .modal-header .close span {
  display: inline !important;
  font-size: 28px !important;
  color: #AFAFAF !important;
}

.span-yellow.material-icons {
  color: #FFC916;
  font-size: 10px !important;
}

p.info-title {
  font-size: 12px;
  font-family: 'Roboto-Regular';
}

p.info-label {
  color: #AFAFAF;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: 'Roboto-Regular'
}

p.info-label-value {
  font-size: 14px;
  font-family: 'Roboto-Regular'
}


.mat-form-field-prefix mat-icon {
  color: #AFAFAF !important;
}

.scrollableDiv {
  overflow: auto;
  overflow-x: hidden;
}
.scrollableDiv::-webkit-scrollbar {
   width: 4px;
}

.scrollableDiv::-webkit-scrollbar-track {
   border-radius: 10px;
   background: transparent !important;
}

.scrollableDiv::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: #B7B7B7;
}

.float-right {
  float: right;
}

.width-150 {
  width: 150px !important;
  max-width: 150px !important;
}

.width-100 {
  width: 100px !important;
  max-width: 100px !important;
}

.width-90 {
  width: 90px !important;
  max-width: 90px !important;
}

.width-190 {
  width: 190px !important;
  max-width: 190px !important;
}

.width-430 {
  width: 430px;
}

.width-590 {
  width: 590px;
}
.mat-input-element {
  color: #343434 !important;
  font-family: 'Robot-Regular';
}

.sticky-bottom {
  position: absolute;
  bottom: 0;
}

.position-relative {
  position:relative;
}

.full-width {
  width: 100%;
}


input::placeholder {
  color: #AFAFAF !important;
}

.footer-fixed .content {
  padding-bottom: unset !important;
}

.content {
  padding-top: 10px !important;
}

.card.card-custom .card-header {
  padding-left: 15px !important;
}

.card.card-custom .card-label {
  color: #3f4254 !important;
}

.color-AFAFAF {
  color: #AFAFAF !important;
}

.delete-icon {
  background: transparent;
  color: #343434;
  font-size: 22px !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: #0000000D !important;
}
 
.mat-form-field.mat-form-field-appearance-outline .mat-form-field-outline {
  background: #eef0f8 ;
  border-radius: 5px;
} 

.mat-form-field-label {
  color: #AFAFAF !important
}

 .add-icon {
  background: transparent;
  color: #5face2;
  font-size: 22px !important; 
  vertical-align: bottom;
} 

.mat-form-field-underline {
  bottom: auto;
}

mat-form-field {
  font-size: 12px !important;
}