/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
// Global vendors
@import "~bootstrap/dist/css/bootstrap.css";
// => Material
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Global fonts
@import "~socicon/css/socicon.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./assets/plugins/flaticon/flaticon.css";
@import "./assets/plugins/flaticon2/flaticon.css";
@import "./assets/plugins/keenthemes-icons/font/ki.css";

// Metronic styles (replace these path when using RTL css below)
@import "./assets/sass/style.angular.scss";

// For RTL, check this documentation https://keenthemes.com/metronic/?page=docs&section=angular-rtl
// @import "./assets/sass/style.angular.rtl.css";

// Default Layout themes
@import "./assets/sass/themes/layout/header/base/light.scss";
@import "./assets/sass/themes/layout/header/menu/light.scss";
@import "./assets/sass/themes/layout/brand/dark.scss";
@import "./assets/sass/themes/layout/aside/dark.scss";

// Header themes
// .header-base-light {
//     @import "./assets/sass/themes/layout/header/base/light.scss";
// }

// .header-base-dark {
//     @import "./assets/sass/themes/layout/header/base/dark.scss";
// }

// Header Menu themes
// .header-menu-light {
//     @import "./assets/sass/themes/layout/header/menu/light.scss";
// }
// .header-menu-dark {
//     @import "./assets/sass/themes/layout/header/menu/dark.scss";
// }

// Brand themes
.brand-dark {
  @import "./assets/sass/themes/layout/brand/dark.scss";
}

.brand-light {
  @import "./assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// .aside-dark {
//   @import "./assets/sass/themes/layout/aside/dark.scss";
// }

// .aside-light {
//   @import "./assets/sass/themes/layout/aside/light.scss";
// }

// hide bootstrap dropdown arrow globally

@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("./assets/fonts/Roboto-Black.ttf") format("truetype");
}

@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: "Roboto-Regular",
);

html,
body {
  font-family: "Roboto-Regular";
}

.dropdown-toggle::after {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

app-toolbar .sticky-toolbar {
  display: none !important;
}

.font-roboto-bold {
  font-family: "Roboto-Bold";
  color: #484848;
}

.font-roboto-regular {
  font-family: "Roboto-Regular";
  color: #484848;
}

.font-roboto-medium {
  font-family: "Roboto-Medium";
  color: #484848;
}

.display-flex-direction-column {
  display: flex;
  flex-direction: column;
}

.font-8px {
  font-size: 8px !important;
}

.font-10px {
  font-size: 10px !important;
}

.font-11px {
  font-size: 11px !important;
}

.font-12px {
  font-size: 12px !important;
}

.font-14px {
  font-size: 14px !important;
}

.font-16px {
  font-size: 16px !important;
}

.font-18px {
  font-size: 18px !important;
}

.font-20px {
  font-size: 20px !important;
}

.app-label-grey {
  color: #afafaf;
  font-size: 12px;
  font-family: "Roboto-Medium";
  padding-bottom: 5px;
}

.font-b-500 {
  font-weight: 500;
}

.app-label-black {
  color: #343434;
  font-size: 12px;
  font-family: "Roboto-Regular";
}

.padding-left-right-0px {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-0px {
  padding: 0px !important;
}

.padding-left-10px {
  padding-left: 10px;
}

.padding-left-15px {
  padding-left: 15px;
}

.padding-b-0px {
  padding-bottom: 0px !important;
}

.padding-b-5px {
  padding-bottom: 5px !important;
}

.padding-b-15px {
  padding-bottom: 15px !important;
}

.padding-b-20px {
  padding-bottom: 20px !important;
}

.padding-l-0px {
  padding-left: 0px !important;
}

.padding-r-0px {
  padding-right: 0px !important;
}

.padding-r-10px {
  padding-right: 10px !important;
}

.margin-l-20px {
  margin-left: 20px !important;
}

.margin-l-30px {
  margin-left: 30px !important;
}

.margin-t-22px {
  margin-top: 22px !important;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}
.color-484848 {
  color: #484848;
}

.color-ffba31 {
  color: #ffba31;
}

.btn-primary {
  background: #5face2 !important ;
  font-size: 14px !important;
  font-family: "Roboto-Medium" !important;
  opacity: unset !important; //0.8 !important;
}

.stepper-back-button {
  background: transparent !important;
  color: #484848 !important;
}

.stepper-next-button {
  color: #ffffff !important;
}

.stepper-next-button,
.stepper-back-button {
  min-width: 100px;
  font-size: 14px !important;
  font-family: "Roboto-Medium";
  text-transform: uppercase;
}

.blue-link {
  color: #5face2;
  cursor: pointer;
  font-family: "Roboto-Medium";
}

.ui-modal-action-button {
  text-transform: uppercase !important;
  font-size: 14px !important;
  font-family: "Roboto-Medium" !important;
  width: 100px;
  letter-spacing: 1px;
  height: 36px !important;
}

.ui-modal-cancel-button {
  background: transparent !important;
  border: none !important;
}
.modal .modal-header .modal-title {
  font: normal normal bold 20px/24px "Roboto-Bold" !important;
}

.modal .modal-header .close span {
  display: inline !important;
  font-size: 28px !important;
  color: #afafaf !important;
}

.span-yellow.material-icons {
  color: #ffc916;
  font-size: 10px !important;
}

.span-grey.material-icons {
  color: #ececf6;
  font-size: 10px !important;
}

p.info-title {
  font-size: 12px;
  font-family: "Roboto-Regular";
}

p.info-label {
  color: #afafaf;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: "Roboto-Regular";
}

p.info-label-value {
  font-size: 14px;
  font-family: "Roboto-Regular";
}

.mat-form-field-prefix mat-icon {
  color: #afafaf !important;
}

.scrollableDivX {
  overflow: auto;
  overflow-y: hidden;
}
.scrollableDivX::-webkit-scrollbar {
  height: 5px;
}
.scrollableDivX::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent !important;
}
.scrollableDivX::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b7b7b7;
}

.scrollableDiv {
  overflow: auto;
  overflow-x: hidden;
}
.scrollableDiv::-webkit-scrollbar {
  width: 4px;
}
.scrollableDiv::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent !important;
}
.scrollableDiv::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b7b7b7;
}

.float-right {
  float: right;
}

.width-150 {
  width: 150px !important;
  max-width: 150px !important;
}

.width-100 {
  width: 100px !important;
  max-width: 100px !important;
}

.width-90 {
  width: 90px !important;
  max-width: 90px !important;
}

.width-190 {
  width: 190px !important;
  max-width: 190px !important;
}

.width-430 {
  width: 430px;
}

.width-590 {
  width: 590px;
}
.mat-input-element {
  color: #343434 !important;
  font-family: "Robot-Regular";
}

.sticky-bottom {
  position: absolute;
  bottom: 0;
}

.position-relative {
  position: relative;
}

.full-width {
  width: 100%;
}

input::placeholder {
  color: #afafaf !important;
}

.footer-fixed .content {
  padding-bottom: unset !important;
}

.content {
  padding-top: 10px !important;
}

.card.card-custom .card-header {
  padding-left: 15px !important;
}

.card.card-custom .card-label {
  color: #3f4254 !important;
}

.color-AFAFAF {
  color: #afafaf !important;
}

.delete-icon {
  background: transparent;
  color: #343434;
  font-size: 22px !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: #0000000d !important;
}

.mat-form-field.mat-form-field-appearance-outline .mat-form-field-outline {
  background: #eef0f8;
  border-radius: 5px;
}

.mat-form-field-label {
  color: #afafaf !important;
}

.add-icon {
  background: transparent;
  color: #5face2;
  font-size: 22px;
  vertical-align: bottom;
}

.mat-form-field-underline {
  bottom: auto;
}

mat-form-field {
  font-size: 14px !important;
}

.product-details-card,
.shipping-info-card,
.misc-cost-card,
.special-instruction-card,
.invoice-card {
  height: calc(100% - 25px - 0px);
}

.text-upper-case {
  text-transform: uppercase !important;
}

.filter-menu {
  border-radius: 6px !important;
  box-shadow: 0px 5px 16px #7e7e7e29 !important;
  min-width: 384px !important;
  overflow: hidden !important;
}

.filter-menu .filter-menu-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.filter-menu .filter-menu-heading {
  color: #484848;
  font-size: 16px;
  font-family: "Roboto-Bold";
  text-align: left;
}

.filter-menu .filter-menu-content .mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.filter-menu .printing-type-options .option-item {
  width: 64px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
  color: #484848;
  font-size: 14px;
  font-family: "Roboto-Regular";
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
}

.filter-menu .printing-type-options .option-item-selected {
  background-color: #e0e0e0 !important;
}

.table-filter-chips {
  margin-top: 5px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #5face2;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #5face2;
}

.mat-radio-label-content {
  font-size: 14px;
  font-family: "Roboto-Medium";
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #5face2 !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #f2f2f2 !important;
}

.mat-hint {
  color: #afafaf;
}

.bg-cyan {
  background-color: #00e1d5;
}
.bg-magenta {
  background-color: #ff00ff;
}
.bg-yellow {
  background-color: #ffff00;
}
.bg-black {
  background-color: #000000;
}

.text-black {
  color: #0d171e !important;
}
.filter-menu .status-options .option-item {
  top: 389px;
  left: 873px;
  border: 1px solid var(--border);
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  opacity: 1;
  padding-top: 8px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-17) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #484848;
  opacity: 1;
  padding-left: 10px;
}

.filter-menu .status-options .option-item-selected {
  background-color: #e0e0e0 !important;
}
.status-button {
  width: 100px !important;
}
.status-options .pending-status {
  width: 130px !important;
  height: 40px !important;
}
.status-options .est-status {
  width: 90px !important;
  height: 40px !important;
}
.status-options .recommit-status {
  width: 114px !important;
  height: 40px !important;
}
.status-options .quote-status {
  width: 92px !important;
  height: 40px !important;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #3f51b5;
}

/*
SHOP-FLOOR-STYLES-START
*/

.card.card-custom.machine-status-card .card-body .row.last-row {
  padding-bottom: 5px;
}

.card.card-custom.machine-status-card .card-body .row .col-12 .mat-form-field {
  width: 100%;
  height: 40px !important;
  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  background: #5face2 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
}

mat-form-field.selectBoxJobStatus {
  width: 106px;
  height: 40px !important;
  background: #5face2 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
}

mat-form-field.selectBoxJobSchedule {
  width: 151px;
  height: 40px !important;
  background: #5face2 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  float: right;
  margin: auto;
  margin-right: 0px;
  margin-top: 3px;
}

mat-form-field.txtSearchWithJobNo {
  width: 100%;
}

mat-form-field.txtSearchWithJobNo .mat-form-field-wrapper {
  padding-bottom: 5px;
  margin-bottom: 0px;
}

mat-form-field.txtSearchWithJobNo.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #f2f2f2;
  border: 1px solid;
  border-radius: 5px;
}

mat-form-field.txtSearchWithJobNo.mat-form-field-appearance-outline .mat-form-field-outline:hover {
  border: none;
}

mat-form-field.txtSearchWithJobNo.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #3699ff;
  border: 0px solid;
}

mat-form-field.txtSearchWithJobNo .mat-form-field-infix {
  border-top-width: 8px !important;
  padding-top: 1em !important;
}

.table.job-schedule-table thead tr th {
  background-color: #f2f2f2;
  width: auto !important;
  position: sticky;
  top: 0px;
  z-index: 900;
}

.table.job-schedule-table thead th:last-child {
  z-index: 100;
}

table.job-schedule-table {
  height: 506px;
}

.job-schedule-table.table tbody tr {
  border-bottom: 1px solid #e6e6e6 !important;
}

.job-schedule-table.table tbody tr td {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  vertical-align: sub !important;
}

.job-schedule-table.table tbody tr td.action-column {
  padding-right: 10px;
}

.job-schedule-table.table tbody tr.table-last-row {
  border: none !important;
}

.equipment-timeline-card .card-rounded-bottom {
  height: 120px;
  margin-top: -23px;
}

.equipment-timeline-card .timeline-chart-label-row {
  padding-top: 8px;
  padding-bottom: 8px;
}

.oee-card .card-rounded-bottom {
  max-height: 130px;
  margin-top: -4px;
}

.oee-card .apexcharts-inner.apexcharts-graphical {
  transform: translate(6px, -6px);
}

.data-collection-box {
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 25px;
  background: #f2f2f2 0% 0% no-repeat padding-box;
}

.data-collection-box .heading {
  font: normal normal bold 14px/17px Roboto;
  color: #484848;
}

.data-collection-box .heading-title-value {
  font: normal normal normal 16px Roboto;
  color: #484848;
  padding-bottom: 10px;
}

.data-collection-box .heading-title-label {
  font: normal normal normal 12px Roboto;
  color: #afafaf;
}

.onthe-machine-card .card-rounded-bottom.units-produced-chart,
.onthe-machine-card .card-rounded-bottom.comulative-chart {
  height: 150px;
}

.onthe-machine-card .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

.onthe-machine-card .job-status-action-buttons {
  background: transparent !important;
  border: none !important;
}

.onthe-machine-card .job-status-action-buttons:disabled {
  cursor: not-allowed !important;
  opacity: 0.8;
}

.shopFloorCollectionScreen .search-block {
  display: none;
  position: absolute;
  top: 0;
  z-index: 11;
  width: 0%;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, width 0.5s ease-in-out;
  background: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  &.active {
    display: contents;
    opacity: 1;
    width: 60%;
  }
  .search-control {
    flex: 1;
    font-size: 16px;
    border: 0;
    outline: none;
    height: 40px;
    color: rgba(0, 0, 0, 0.87);
  }
  .search-icon {
    color: rgba(0, 0, 0, 0.25);
  }
}

.shopFloorCollectionScreen .mat-toolbar-row,
.shopFloorCollectionScreen .mat-toolbar-single-row {
  padding: 0px;
  display: contents;
}

.apexcharts-canvas {
  width: 100% !important;
}

.apexcharts-canvas svg {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
}

.apexcharts-tooltip {
  padding: 10px !important;
}

.color-box {
  width: 10px;
  height: 10px;
  padding: 0px;
}

.color-box-label {
  font-size: xx-small;
  font-weight: 600;
  margin-left: 5px;
  width: auto;
  padding-right: 20px;
}

.shopFloorCollectionScreen mat-form-field.mat-form-field-type-mat-select .mat-form-field-ripple {
  background: transparent !important;
}

.shopFloorCollectionScreen mat-form-field.mat-form-field-type-mat-select.mat-focused.mat-primary .mat-select-arrow {
  color: white;
}

.shopFloorCollectionScreen .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-image: none !important;
  border: none !important;
}

/*SHOP-FLOOR-STYLES-END*/

/*Horizontal scrollbar styles-Start*/

.scroll-bar {
  overflow: auto;
}
.scroll-bar::-webkit-scrollbar {
  height: 6px;
  background-color: #b7b7b7;
}
.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #9a9898;
}
.label-light-purple {
  color: #9560ff;
  background-color: #eee5ff;
}
.label-light-green {
  color: #0fe848;
  background-color: #0fe8481a;
}
.label-light-orange {
  color: #ffa800;
  background-color: #fff4de;
}
.label-light-blue {
  color: #3699ff;
  background-color: #e1f0ff;
}
/* Horizontal scrollbar styles-End*/
