<div class="row spec-web-code">
    <div class="col-lg-12 pb-3">
        <span class="font-16px font-roboto-bold">Webcode</span>
    </div>
    <div class="col-lg-12 pl-0 pr-0">
        <table class="table table-head-custom  table-vertical-center spec-webcode-table">
            <thead>
                <tr class="text-left text-uppercase">
                    <th *ngFor="let item of columnsToDisplay"> {{item}}</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let rowId of viewModal;let i = index;">
                    <tr class="outer-row">
                        <td>
                            {{viewModal[i].id}}
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Choose Location</mat-label>
                                <mat-select [(ngModel)]="viewModal[i].webcodeLocation">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="webCodeLocationFltrCtrl" placeholderLabel="Search..">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option [value]="item" *ngFor="let item of filteredWebCodeLocationList | async">{{item}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Choose</mat-label>
                                <mat-select [(ngModel)]="viewModal[i].noOfWebcode">
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>X Coordinate</mat-label>
                                <input [(ngModel)]="viewModal[i].xCoordinate" matInput type="number" min="0">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Y Coordinate</mat-label>
                                <input [(ngModel)]="viewModal[i].ycoordinate" matInput type="number" min="0">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Write here</mat-label>
                                <input [(ngModel)]="viewModal[i].specialInstructions" matInput>
                            </mat-form-field>
                        </td>
                        <td class="action-column">
                            <span class="material-icons delete-icon pr-2 cursor-pointer"
                                (click)="deleteRow(viewModal[i].id)" *ngIf="viewModal.length > 1">
                                delete
                            </span>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12 pt-10">
        <div class="sticky-bottom full-width pl-5 pb-4 product-detail-footer-row">
            <a (click)="addRow()">
                <span class="material-icons add-icon pr-2 cursor-pointer">
                    add_circle_outline
                </span>
                <span class="font-14px blue-link ">ADD ANOTHER</span>
            </a> 
        </div>
    </div>
</div>