<div class="row spec-text">
    <div class="col-lg-12 display-flex pl-0 pt-2">
        <div class="col-lg-3 pr-0">
            <mat-form-field appearance="fill">
                <mat-label>Text Material Weight</mat-label>
                <mat-select [(ngModel)]="textVM.textMaterialWeight">
                    <mat-option [value]="item" *ngFor="let item of coverMaterialWeightList">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 pr-0">
            <mat-form-field appearance="fill">
                <mat-label>Text Material</mat-label>
                <mat-select [(ngModel)]="textVM.textMaterial" [disabled]="textVM.textMaterialWeight === ''">
                    <mat-option value="Offset">Offset</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 pr-0">
            <mat-form-field appearance="fill">
                <mat-label>Material Brand</mat-label>
                <mat-select [(ngModel)]="textVM.materialBrand"
                    [disabled]="textVM.textMaterial === '' && textVM.textMaterialWeight === ''">
                    <mat-option value="Offset">Offset</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="col-lg-12 pt-3 pb-5">
        <mat-divider></mat-divider>
    </div>
    <div class="col-lg-12">
        <span class="labels font-20px">Text</span>
    </div>
    <div class="col-lg-12 display-flex pl-0 pt-2 pb-3">
        <div class="col-lg-3 pr-0">
            <mat-form-field appearance="fill">
                <mat-label>No. of Colour Extent</mat-label>
                <input matInput [(ngModel)]="textVM.noOfColourExtent">
            </mat-form-field>
        </div>
        <div class="col-lg-3 pr-0">
            <mat-form-field appearance="fill">
                <mat-label>No. of Mono Extent</mat-label>
                <input matInput [(ngModel)]="textVM.noOfMonoExtent">
            </mat-form-field>
        </div>
        <div class="col-lg-3 pr-0">
            <mat-form-field appearance="fill">
                <mat-label>Total Extent</mat-label>
                <input matInput [(ngModel)]="textVM.totalExtent">
            </mat-form-field>
        </div>
    </div>

    <div class="col-lg-12 display-flex pl-0">
        <div class="col-lg-3 pr-0">
            <mat-form-field appearance="fill">
                <mat-label>No. of colours</mat-label>
                <mat-select [(ngModel)]="textVM.noOfColours">
                    <mat-option [value]="item" *ngFor="let item of noOfColorsList">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-9">
            <div class="color-type-options display-flex pb-4">
                <span *ngFor="let item of colorTypeList"
                    [ngClass]="item.text === textVM.colorType ?  item.color + ' ' + item.textColor + ' option-item mr-2'  : 'option-item mr-2'"
                    (click)="handleColorChange(item.text)">{{item.text}}</span>
            </div>
        </div>
    </div>

    <div class="col-lg-12 display-flex pl-0">
        <div class="col-lg-3 pr-0">
            <mat-form-field appearance="fill">
                <mat-label>Pantone Colour (Optional)</mat-label>
                <input matInput pattern="(?:#|0x)(?:[a-f0-9]{3}|[a-f0-9]{6})\b|(?:rgb|hsl)a?\([^\)]*\)"
                    (keyup.enter)="addPantoneColour($event)">
            </mat-form-field>
        </div>
        <div class="col-lg-9">
            <div class="scroll-bar">
                <mat-chip-list #pantoneColourchipList class="table-filter-chips">
                    <mat-chip [removable]="true" [ngStyle]="{'background-color': item}"
                        *ngFor="let item of textVM.pantoneColour" (removed)="removePantoneColourSelection(item)">
                        {{item}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </div>
    <div class="col-lg-12 pb-2">
        <mat-hint class="font-10px">Add multiple pantone colour codes</mat-hint>
    </div>

    <div class="col-lg-12 display-flex pl-0">
        <div class="col-lg-3 pr-0">
            <mat-form-field appearance="fill">
                <mat-label>Finishing</mat-label>
                <mat-select [(ngModel)]="textVM.finishingType" multiple>
                    <mat-option [value]="item.value" *ngFor="let item of finishingTypeList">{{item.text}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-9">
            <!-- class="scrollableDivX" style="width:650px !important; height: 54px;" -->
            <div>
                <mat-chip-list #finishingChipList class="table-filter-chips">
                    <mat-chip [removable]="true" *ngFor="let item of textVM.finishingType"
                        (removed)="removeFinishTypeSelection(item)">
                        {{getFinishingTypeText(item)}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <mat-hint class="font-10px">You can add more than 1 type of finishing.</mat-hint>
    </div>

    <div class="col-lg-12 pt-6 pb-6">
        <mat-divider></mat-divider>
    </div>

    <div class="col-lg-12">
        <span class="labels font-20px">Special Instruction</span>
    </div>

    <div class="col-lg-12 pt-2">
        <mat-form-field appearance="fill">
            <mat-label>Write special instructions</mat-label>
            <input matInput [(ngModel)]="textVM.specialInstructions">
        </mat-form-field>
    </div>
</div>