<div class="row pt-5">
  <div class="col-lg-12 display-flex">
    <div class="card card-custom example example-compact gutter-b create-product-spec-card">
      <div class="card-body p-0">
        <mat-tab-group>
          <mat-tab label="{{createProductTabs.SPECIFICATIONS}}">
            <app-product-specifications></app-product-specifications>
          </mat-tab>
          <mat-tab label="{{createProductTabs.VERSIONS}}">
            <app-product-versions></app-product-versions>
          </mat-tab>
          <mat-tab label="{{createProductTabs.PAST_ORDERS}}">
            <app-past-orders></app-past-orders>
          </mat-tab>
          <mat-tab [disabled]="true" style="padding-left: 0px !important;padding-right: 0px !important;">
            <ng-template mat-tab-label>
              <button *ngIf="shouldReadonly && !(store.$IsPrepressModule | async)" mat-button (click)="handleEditMode()" style="margin-left: 180px;"
              class="btn btn-primary mr-2">Edit</button>

              <span [class]="statusClass" *ngIf="productSpecStatus" [style]="shouldReadonly ? 'margin-left: 0px': 'margin-left: 260px'"
                matTooltip="{{productSpecTooltip}}">{{productSpecStatus}}</span>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>