app-create-product {
  .create-product-spec-card {
    width: 100%;
    min-height: 763px !important
  }
  .create-product-spec-card .mat-tab-group {
    height: 100%;
  }
  .create-product-spec-card .mat-tab-body-wrapper {
    height: 100%;
  }
  .create-product-spec-card .mat-tab-body-content {
    padding-top: 0px !important;
  } 
  .create-product-spec-card .mat-tab-label-active{
    color:#5FACE2 !important;
  }
}
