<!--begin::Notice-->
<div class="row pt-5 responsive">
    <div class="col-lg-12 display-flex">
        <div class="card card-custom example example-compact gutter-b platemaking-header-card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <span class="symbol symbol-circle symbol-50 symbol-light-warning mr-2">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-warning svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo2/dist/../src/media/svg/icons/Code/Warning-1-circle.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                        <rect fill="#000000" x="11" y="7" width="2" height="8" rx="1" />
                                        <rect fill="#000000" x="11" y="16" width="2" height="2" rx="1" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                    </span>
                    <div class="d-flex flex-column">
                        <span class="text-muted font-weight-bold mt-2">PENDING ESTIMATION</span>
                        <span class="text-dark-75 font-weight-bolder font-size-h">82</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="symbol symbol-50 symbol-light-primary mr-2">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-primary svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo2/dist/../src/media/svg/icons/Home/Clock.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path
                                            d="M12,22 C7.02943725,22 3,17.9705627 3,13 C3,8.02943725 7.02943725,4 12,4 C16.9705627,4 21,8.02943725 21,13 C21,17.9705627 16.9705627,22 12,22 Z"
                                            fill="#000000" opacity="0.3" />
                                        <path
                                            d="M11.9630156,7.5 L12.0475062,7.5 C12.3043819,7.5 12.5194647,7.69464724 12.5450248,7.95024814 L13,12.5 L16.2480695,14.3560397 C16.403857,14.4450611 16.5,14.6107328 16.5,14.7901613 L16.5,15 C16.5,15.2109164 16.3290185,15.3818979 16.1181021,15.3818979 C16.0841582,15.3818979 16.0503659,15.3773725 16.0176181,15.3684413 L11.3986612,14.1087258 C11.1672824,14.0456225 11.0132986,13.8271186 11.0316926,13.5879956 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z"
                                            fill="#000000" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                    </span>
                    <div class="d-flex flex-column">
                        <span class="text-muted font-weight-bold mt-2">READY TO QUOTE</span>
                        <span class="text-dark-75 font-weight-bolder font-size-h">1.4h</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="symbol symbol-50 symbol-light-success mr-2">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-success svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo2/dist/../src/media/svg/icons/Code/Done-circle.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                        <path
                                            d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                            fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                    </span>
                    <div class="d-flex flex-column">
                        <span class="text-muted font-weight-bold mt-2">YTD% TURNED TO ORDER</span>
                        <span class="text-dark-75 font-weight-bolder font-size-h">34%</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="symbol symbol-50 symbol-light-danger mr-2">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-danger svg-icon-2x">
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo2/dist/../src/media/svg/icons/Code/Stop.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path
                                            d="M12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 Z M12,20 C16.418278,20 20,16.418278 20,12 C20,7.581722 16.418278,4 12,4 C7.581722,4 4,7.581722 4,12 C4,16.418278 7.581722,20 12,20 Z M19.0710678,4.92893219 L19.0710678,4.92893219 C19.4615921,5.31945648 19.4615921,5.95262146 19.0710678,6.34314575 L6.34314575,19.0710678 C5.95262146,19.4615921 5.31945648,19.4615921 4.92893219,19.0710678 L4.92893219,19.0710678 C4.5384079,18.6805435 4.5384079,18.0473785 4.92893219,17.6568542 L17.6568542,4.92893219 C18.0473785,4.5384079 18.6805435,4.5384079 19.0710678,4.92893219 Z"
                                            fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span></span></span>
                    <div class="d-flex flex-column">
                        <span class="text-muted font-weight-bold mt-2">YTD% UNSUCCESSFUL</span>
                        <span class="text-dark-75 font-weight-bolder font-size-h">22%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Notice-->

<div class="row pt-5">
    <div class="col-lg-12 display-flex">
        <div class="card card-custom example example-compact gutter-b platemaking-table-card">
            <div class="card-header pr-0">
                <div class="row full-width">
                    <div class="col-lg-12 pt-2 pb-2 pr-0">
                        <div class="float-left display-flex">
                            <span
                                style="padding-top: 10px;font-size: 15px;color: #AFAFAF;width: -webkit-fill-available;">View
                                By:&nbsp;</span>
                            <mat-form-field appearance="fill" class="font-12px pb-4">
                                <mat-label>Status</mat-label>
                                <mat-select>
                                    <mat-option [value]="item.value" *ngFor="let item of statusTypesList">
                                        {{item.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-chip-list #chipList class="table-filter-chips">
                                <mat-chip [removable]="true" *ngIf="tableFilters.jobNo != ''"
                                    (removed)="removeFilter(tableFilterTypes.JOB_NO)">
                                    {{tableFilters.jobNo}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true" *ngIf="tableFilters.customer != ''"
                                    (removed)="removeFilter(tableFilterTypes.CUSTOMER)">
                                    {{tableFilters.customer}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true" *ngIf="tableFilters.platesTobeReadByDate != ''"
                                    (removed)="removeFilter(tableFilterTypes.PLATESTOBEREADBY_DATE)">
                                    {{tableFilters.platesTobeReadByDate | date:'shortDate' }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true" *ngIf="tableFilters.scheduledPrinitngDate != ''"
                                    (removed)="removeFilter(tableFilterTypes.SCHEDULEDPRINTING_DATE)">
                                    {{tableFilters.scheduledPrinitngDate | date:'shortDate' }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true" *ngIf="tableFilters.status != ''"
                                    (removed)="removeFilter(tableFilterTypes.STATUS)">
                                    {{tableFilters.status }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>

                            </mat-chip-list>
                        </div>
                        <div class="float-right display-flex">
                            <mat-form-field appearance="fill" class="font-12px pr-2">
                                <mat-label>Search</mat-label>
                                <mat-icon matPrefix>search</mat-icon>
                                <input matInput placeholder="Search" (keyup)="applySearch($event)" #tableSearchInput>
                            </mat-form-field>
                            <!-- <mat-search-bar></mat-search-bar> -->
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>filter_list</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" class="filter-menu">
                                <div class="filter-menu-content" (click)="$event.stopPropagation();">
                                    <div>
                                        <span class="filter-menu-heading pb-4">
                                            Advance Filters
                                        </span>
                                        <a class="clear-filter pb-4"
                                            style="padding-left: 161px;display: inline-block;font: normal normal normal 14px/17px Roboto;"
                                            (click)="removeFilter('1')">
                                            Clear Filters
                                        </a>
                                    </div>
                                    <mat-form-field appearance="fill" class="font-12px pb-4">
                                        <mat-label>Job No.</mat-label>
                                        <mat-icon matPrefix>search</mat-icon>
                                        <input matInput [(ngModel)]="tableFilters.jobNo"
                                            (ngModelChange)="tableFilterChange($event,tableFilterTypes.JOB_NO)">
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="font-12px pb-4">
                                        <mat-label>Customer</mat-label>
                                        <mat-icon matPrefix>search</mat-icon>
                                        <input matInput [(ngModel)]="tableFilters.customer"
                                            (ngModelChange)="tableFilterChange($event,tableFilterTypes.CUSTOMER)">
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="font-12px pb-4">
                                        <mat-label>Plates to be ready by</mat-label>
                                        <input [matDatepicker]="picker" matInput
                                            [(ngModel)]="tableFilters.platesTobeReadByDate"
                                            (ngModelChange)="tableFilterChange($event,tableFilterTypes.PLATESTOBEREADBY_DATE)">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="font-12px pb-4">
                                        <mat-label>Scheduled Printing</mat-label>
                                        <input [matDatepicker]="picker1" matInput
                                            [(ngModel)]="tableFilters.scheduledPrinitngDate"
                                            (ngModelChange)="tableFilterChange($event,tableFilterTypes.SCHEDULEDPRINTING_DATE)">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="font-12px pb-4">
                                        <mat-label>Status</mat-label>
                                        <mat-select>
                                            <mat-option [value]="item.value" *ngFor="let item of statusTypesList">
                                                {{item.text}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <mat-table [dataSource]="dataSource" class="platemaking-table" [multiTemplateDataRows]="true">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef style="width: 35px;"> # </th>
                        <td mat-cell *matCellDef="let element" style="width: 35px;"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="jobNo">
                        <th mat-header-cell *matHeaderCellDef style="width: 60px;">Job No. </th>
                        <td mat-cell *matCellDef="let element" style="width: 60px;"> {{element.jobNo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef style="width: 75px;"> Customer </th>
                        <td mat-cell *matCellDef="let element" style="width: 75px;"> {{element.customer}} </td>
                    </ng-container>

                    <ng-container matColumnDef="isbn">
                        <th mat-header-cell *matHeaderCellDef style="width: 110px;"> ISBN </th>
                        <td mat-cell *matCellDef="let element" style="width: 110px;"> {{element.isbn }} </td>
                    </ng-container>

                    <ng-container matColumnDef="press">
                        <th mat-header-cell *matHeaderCellDef style="width: 75px;"> Press </th>
                        <td mat-cell *matCellDef="let element" style="width: 75px;"> {{element.press}} </td>
                    </ng-container>

                    <ng-container matColumnDef="platesToBeReadyBy">
                        <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Plates to be ready by</th>
                        <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.platesToBeReadyBy}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="printingDate">
                        <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Printing Date </th>
                        <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.printingDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="qty">
                        <th mat-header-cell *matHeaderCellDef style="width: 75px;">Qty </th>
                        <td mat-cell *matCellDef="let element" style="width: 75px;"> {{element.qty}} </td>
                    </ng-container>

                    <ng-container matColumnDef="webcode">
                        <th mat-header-cell *matHeaderCellDef style="width: 75px;"> Webcode </th>
                        <td mat-cell *matCellDef="let element" style="width: 75px;"> {{element.webcode}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef style="width:125px;"> Status </th>
                        <td mat-cell *matCellDef="let element" style="width:125px;">
                            <div *ngIf="element.status == 'Pending File Prep'">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-orange label-inline">Pending File
                                        Prep</span>
                                </span>
                            </div>
                            <div *ngIf="element.status == 'Order Confirmed'">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-green label-inline">Order
                                        Confirmed</span>
                                </span>
                            </div>
                            <div *ngIf="element.status == 'Planning'">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-purple label-inline">Planning</span>
                                </span>
                            </div>
                            <div *ngIf="element.status == 'Scheduling'">
                                <span style="width: 100px;">
                                    <span class="label label-lg label-light-blue label-inline">Scheduling</span>
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef style="width: 75px;"> Actions </th>
                        <td mat-cell *matCellDef="let element" style="width: 75px;">
                            <mat-form-field appearance="fill" class="font-12px pb-4"
                                style="width: -webkit-fill-available;">
                                <mat-label>Status</mat-label>
                                <mat-select [(ngModel)]="chooseList" (selectionChange)="chooseSelectionChange($event)">
                                    <mat-option value="Complete">
                                        Complete
                                    </mat-option>
                                    <mat-option value="Processing">
                                        Processing
                                    </mat-option>
                                    <mat-option value="Hold">
                                        Hold
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <button class="btn btn-light" (click)="Choose()">Choose
                                <span class="svg-icon svg-icon-2x">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path
                                                d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z"
                                                fill="#000000" fill-rule="nonzero"
                                                transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) " />
                                        </g>
                                    </svg>
                                </span>
                            </button> -->
                        </td>
                    </ng-container>

                    <!-- <ng-container class="action-column pb-0" matColumnDef="expandRow">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element;index as i;">
                            <span class="material-icons expansion-icon" (click)="toggleExpandable(element.id)">
                                {{
                                element.id== rowIdToExpand ?
                                ExpansionIcons.KEYBOARD_ARROW_UP :
                                ExpansionIcons.KEYBOARD_ARROW_DOWN
                                }}
                            </span>
                        </td>
                    </ng-container> -->

                    <ng-container matColumnDef="expandedDetail">
                        <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length"
                            [@expandableRow]="element.id === rowIdToExpand ? 'expanded' : 'collapsed'">
                            <div *ngIf="element.id === rowIdToExpand">
                                <table class="table table-head-custom table-head-bg table-borderless table-vertical-center
                                    component-table">
                                    <thead>
                                        <tr class="expandedRow text-left"
                                            style="border-top: 1px solid #afafaf;height: 60px;">
                                            <th *ngFor="let item of columnsToDisplayCompBreakTable"
                                                style="color: #AFAFAF; font-size: 12px;font: normal normal normal 12px/14px Roboto;width: 70px;">
                                                {{item}}</th>
                                        </tr>
                                    </thead>
                                    <!-- <tbody> -->
                                    <tr class="expandedRow" style="border-top: 1px solid #afafaf;"
                                        *ngFor="let row of productSpecLayoutPrepCompBreakList">
                                        <td
                                            style="color: #484848;font: normal normal normal 12px/14px Roboto;width: 70px;">
                                            {{row.id}}</td>
                                        <td
                                            style="color: #484848;font: normal normal normal 12px/14px Roboto;width: 70px;">
                                            {{row.type}}
                                        </td>
                                        <td
                                            style="color: #484848;font: normal normal normal 12px/14px Roboto;width: 70px;">
                                            {{row.component}}
                                        </td>
                                        <td
                                            style="color: #484848;font: normal normal normal 12px/14px Roboto;width: 70px;">
                                            {{row.qty}}
                                        </td>
                                        <td
                                            style="color: #484848;font: normal normal normal 12px/14px Roboto;width: 150px;">
                                            {{row.printingSheets}}
                                        </td>
                                        <td
                                            style="color: #484848;font: normal normal normal 12px/14px Roboto;width: 40px;">
                                            {{row.scrap}}
                                        </td>
                                        <td
                                            style="color: #484848;font: normal normal normal 12px/14px Roboto;width: 100px;">
                                            {{row.totalSheets}}
                                        </td>
                                        <td
                                            style="color: #484848;font: normal normal normal 12px/14px Roboto;width: 70px;">
                                            {{row.colour}}
                                        </td>
                                        <td
                                            style="color: #484848;font: normal normal normal 12px/14px Roboto;width: 150px;">
                                            {{row.paper}}
                                        </td>
                                        <td
                                            style="color: #484848;font: normal normal normal 12px/14px Roboto;width: 70px;">
                                            -
                                        </td>
                                        <td
                                            style="color: #484848;font: normal normal normal 12px/14px Roboto;width: 70px;">
                                            <mat-form-field appearance="fill" class="width-100">
                                                <mat-select>
                                                    <mat-option *ngFor="let item of machineTypeList"
                                                        [value]="item.value">
                                                        {{item.text}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <!-- </tbody> -->
                                </table>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <!--  (click)="toggleExpandable(row.id)" -->
                    <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>

                    <mat-row class="expandable-row" *matRowDef="let row; columns: ['expandedDetail'];">
                    </mat-row>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center" colspan="8">No data matching the filter
                            "{{tableSearchInput.value}}"</td>
                    </tr>
                </mat-table>

                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>

<app-modal id="ADD_REASON_MODAL">
    <app-add-reason-modal (acceptEvent)="handleAddReasonEvent('ADD_REASON_MODAL')"></app-add-reason-modal>
</app-modal>